DISPATCHING RULE - EDD

In [3]:
import pandas as pd
import numpy as np
import heapq
import os

data_path = '../data'

data = pd.read_excel(os.path.join(data_path, 'Data.xlsx'), sheet_name=0, index_col=0)
data = data.reset_index()
data['Start time 1'] = 0
data['Finish time 1'] = 0
data['Máy trải'] = 0
def schedule_jobs(df, machines):
    # Sắp xếp công việc theo thời gian tới hạn (due date) tăng dần
    sorted_jobs = data.sort_values(by='Due date (h)').values

    # Khởi tạo hàng đợi ưu tiên (min heap) để theo dõi thời gian hoàn thành trên từng máy
    machines_heap = [(0, machine_id) for machine_id in range(machines)]

    # Lập lịch công việc
    for job in sorted_jobs:
        processing_time, machine_id = heapq.heappop(machines_heap)
        start_time=0
        start_time = max(processing_time,start_time)  # Thời điểm bắt đầu là max(thời gian hoàn thành trước đó, thời gian bắt đầu công việc)
        finish_time = start_time + job[5]  # Thời gian hoàn thành công việc là thời gian bắt đầu + thời gian gia công
        df.at[int(job[0]) - 1, 'Start time 1'] = start_time
        df.at[int(job[0]) - 1, 'Finish time 1'] = finish_time
        df.at[int(job[0]) - 1, 'Máy trải'] = machine_id + 1
        heapq.heappush(machines_heap, (finish_time, machine_id))  # Cập nhật hàng đợi với thời gian hoàn thành mới

        #print(f"Công việc {int(job[0])} được lập lịch cho máy {machine_id + 1} từ {start_time} đến {finish_time}")
# Số lượng máy
số_máy_trải= 8

schedule_jobs(data, số_máy_trải)
data_stage2= data.sort_values(by='Máy trải')
display(data_stage2)
#Gán việc cho máy cắt
cutting_machine = []
for ind in data_stage2.index:
    cutting_machine.append((data_stage2['Máy trải'][ind] + 1) // 2)

data_stage2['Máy cắt'] = cutting_machine
data_stage2 = data_stage2.sort_values(by=['Finish time 1', 'Máy cắt'])
display(data_stage2)
#Tính thời gian cho trạm cắt
num_cutting_machine = 4
cur_cutting_time: list[float] = [data_stage2[data_stage2['Máy cắt'] == idx + 1].iloc[0, 8] for idx in range(num_cutting_machine)]

data_stage2['Start time 2'] = 0.0
data_stage2['Finish time 2'] = 0.0

for ind in data_stage2.index:
    cutting_idx = data_stage2.at[ind, 'Máy cắt'] - 1
    data_stage2.at[ind, 'Start time 2'] = max(cur_cutting_time[cutting_idx], data_stage2.at[ind, 'Finish time 1'])
    data_stage2.at[ind, 'Finish time 2'] = data_stage2['Start time 2'][ind] + data_stage2['P cắt'][ind]

    # Update current cutting time
    cur_cutting_time[cutting_idx] = data_stage2.at[ind, 'Finish time 2']
#Tính độ trễ
data_stage2['Độ trễ (phút)']= np.maximum(0, data_stage2['Finish time 2'] - (data_stage2['Due date (h)'] * 60))
print('BẢNG KẾT QUẢ ĐIỀU ĐỘ TRẠM MÁY CẮT')
display(data_stage2)

#Tính hàm mục tiêu
column_count = 'Độ trễ (phút)'
num_tardiness = (data_stage2[column_count] > 0).sum()
print('Số công việc bị trễ theo luật EDD = ', num_tardiness)
sum_tardiness = data_stage2['Độ trễ (phút)'].sum() 
print('Hàm mục tiêu theo luật EDD = ',sum_tardiness,'phút')

# Thứ tự điều độ tại từng trạm
data_stage2
job_order_start_time_1 = data_stage2.sort_values(by='Start time 1')
print("\nKết quả thứ tự điều độ trên trạm trải:")
display(job_order_start_time_1[['Jobs', 'Start time 1']])

job_order_start_time_2 = data_stage2.sort_values(by='Start time 2')
print("\nKết quả thứ tự điều độ trên trạm cắt:")
display(job_order_start_time_2[['Jobs', 'Start time 2']])

/var/folders/4q/62nlmhj92rsbpt7h4b7nlmdr0000gn/T/ipykernel_2921/3023565608.py:27: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '93.07' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[int(job[0]) - 1, 'Finish time 1'] = finish_time
/var/folders/4q/62nlmhj92rsbpt7h4b7nlmdr0000gn/T/ipykernel_2921/3023565608.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '15.07' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[int(job[0]) - 1, 'Start time 1'] = start_time

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải
9,10,20230720024146,10,698,2,93.07,48.0,0.00,93.07,1
16,17,20230720024153,7,225,9,30.00,33.6,93.07,123.07,1
15,16,20230720024152,8,251,2,33.47,38.4,0.00,33.47,2
5,6,20230720024142,5,354,7,47.20,24.0,75.47,122.67,2
11,12,20230720024148,6,315,4,42.00,28.8,33.47,75.47,2
2,3,20230720024139,6,486,4,64.80,28.8,36.67,101.47,3
13,14,20230720024150,5,275,2,36.67,24.0,0.00,36.67,3
1,2,20230720024138,7,354,2,47.20,33.6,15.07,62.27,4
7,8,20230720024144,10,856,7,114.14,48.0,62.27,176.41,4
8,9,20230720024145,5,113,2,15.07,24.0,0.00,15.07,4
6,7,20230720024143,8,587,2,78.27,38.4,0.00,78.27,5
18,19,20230720024155,7,720,9,96.00,33.6,78.27,174.27,5
14,15,20230720024151,5,144,9,19.20,24.0,91.07,110.27,6
19,20,20230720024156,9,543,2,72.40,43.2,0.00,72.40,6
10,11,20230720024147,5,140,7,18.67,24.0,72.40,91.07,6
4,5,20230720024141,7,406,2,54.14,33.6,0.00,54.14,7
0,1,20230720024137,10,646,4,86.14,48.0,54.14,140.28,7
3,4,20230720024140,5,337,2,44.94,24.0,0.00,44.94,8
17,18,20230720024154,9,332,4,44.27,43.2,44.94,89.21,8
12,13,20230720024149,6,196,9,26.14,28.8,89.21,115.35,8

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải,Máy cắt
8,9,20230720024145,5,113,2,15.07,24.0,0.00,15.07,4,2
15,16,20230720024152,8,251,2,33.47,38.4,0.00,33.47,2,1
13,14,20230720024150,5,275,2,36.67,24.0,0.00,36.67,3,2
3,4,20230720024140,5,337,2,44.94,24.0,0.00,44.94,8,4
4,5,20230720024141,7,406,2,54.14,33.6,0.00,54.14,7,4
1,2,20230720024138,7,354,2,47.20,33.6,15.07,62.27,4,2
19,20,20230720024156,9,543,2,72.40,43.2,0.00,72.40,6,3
11,12,20230720024148,6,315,4,42.00,28.8,33.47,75.47,2,1
6,7,20230720024143,8,587,2,78.27,38.4,0.00,78.27,5,3
17,18,20230720024154,9,332,4,44.27,43.2,44.94,89.21,8,4
10,11,20230720024147,5,140,7,18.67,24.0,72.40,91.07,6,3
9,10,20230720024146,10,698,2,93.07,48.0,0.00,93.07,1,1
2,3,20230720024139,6,486,4,64.80,28.8,36.67,101.47,3,2
14,15,20230720024151,5,144,9,19.20,24.0,91.07,110.27,6,3
12,13,20230720024149,6,196,9,26.14,28.8,89.21,115.35,8,4
5,6,20230720024142,5,354,7,47.20,24.0,75.47,122.67,2,1
16,17,20230720024153,7,225,9,30.00,33.6,93.07,123.07,1,1
0,1,20230720024137,10,646,4,86.14,48.0,54.14,140.28,7,4
18,19,20230720024155,7,720,9,96.00,33.6,78.27,174.27,5,3
7,8,20230720024144,10,856,7,114.14,48.0,62.27,176.41,4,2

BẢNG KẾT QUẢ ĐIỀU ĐỘ TRẠM MÁY CẮT

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải,Máy cắt,Start time 2,Finish time 2,Độ trễ (phút)
8,9,20230720024145,5,113,2,15.07,24.0,0.00,15.07,4,2,15.07,39.07,0.00
15,16,20230720024152,8,251,2,33.47,38.4,0.00,33.47,2,1,33.47,71.87,0.00
13,14,20230720024150,5,275,2,36.67,24.0,0.00,36.67,3,2,39.07,63.07,0.00
3,4,20230720024140,5,337,2,44.94,24.0,0.00,44.94,8,4,44.94,68.94,0.00
4,5,20230720024141,7,406,2,54.14,33.6,0.00,54.14,7,4,68.94,102.54,0.00
1,2,20230720024138,7,354,2,47.20,33.6,15.07,62.27,4,2,63.07,96.67,0.00
19,20,20230720024156,9,543,2,72.40,43.2,0.00,72.40,6,3,72.40,115.60,0.00
11,12,20230720024148,6,315,4,42.00,28.8,33.47,75.47,2,1,75.47,104.27,0.00
6,7,20230720024143,8,587,2,78.27,38.4,0.00,78.27,5,3,115.60,154.00,34.00
17,18,20230720024154,9,332,4,44.27,43.2,44.94,89.21,8,4,102.54,145.74,0.00
10,11,20230720024147,5,140,7,18.67,24.0,72.40,91.07,6,3,154.00,178.00,0.00
9,10,20230720024146,10,698,2,93.07,48.0,0.00,93.07,1,1,104.27,152.27,32.27
2,3,20230720024139,6,486,4,64.80,28.8,36.67,101.47,3,2,101.47,130.27,0.00
14,15,20230720024151,5,144,9,19.20,24.0,91.07,110.27,6,3,178.00,202.00,0.00
12,13,20230720024149,6,196,9,26.14,28.8,89.21,115.35,8,4,145.74,174.54,0.00
5,6,20230720024142,5,354,7,47.20,24.0,75.47,122.67,2,1,152.27,176.27,0.00
16,17,20230720024153,7,225,9,30.00,33.6,93.07,123.07,1,1,176.27,209.87,0.00
0,1,20230720024137,10,646,4,86.14,48.0,54.14,140.28,7,4,174.54,222.54,0.00
18,19,20230720024155,7,720,9,96.00,33.6,78.27,174.27,5,3,202.00,235.60,0.00
7,8,20230720024144,10,856,7,114.14,48.0,62.27,176.41,4,2,176.41,224.41,0.00

Số công việc bị trễ theo luật EDD =  2
Hàm mục tiêu theo luật EDD =  66.26999999999998 phút

Kết quả thứ tự điều độ trên trạm trải:

    Jobs  Start time 1
8      9          0.00
15    16          0.00
13    14          0.00
3      4          0.00
4      5          0.00
19    20          0.00
6      7          0.00
9     10          0.00
1      2         15.07
11    12         33.47
2      3         36.67
17    18         44.94
0      1         54.14
7      8         62.27
10    11         72.40
5      6         75.47
18    19         78.27
12    13         89.21
14    15         91.07
16    17         93.07

Kết quả thứ tự điều độ trên trạm cắt:

    Jobs  Start time 2
8      9         15.07
15    16         33.47
13    14         39.07
3      4         44.94
1      2         63.07
4      5         68.94
19    20         72.40
11    12         75.47
2      3        101.47
17    18        102.54
9     10        104.27
6      7        115.60
12    13        145.74
5      6        152.27
10    11        154.00
0      1        174.54
16    17        176.27
7      8        176.41
14    15        178.00
18    19        202.00

DISPATCHING RULE - FCFS

In [41]:
import pandas as pd
import numpy as np
import heapq
import os
data = pd.read_excel(os.path.join(data_path, 'Data.xlsx'), sheet_name=0, index_col=0)
data = data.reset_index()
data['Start time 1'] = 0
data['Finish time 1'] = 0
data['Máy trải'] = 0
def schedule_jobs(df, machines):
    # Sắp xếp công việc theo thời gian tới hạn (due date) tăng dần
    sorted_jobs = data.sort_values(by='Jobs').values

    # Khởi tạo hàng đợi ưu tiên (min heap) để theo dõi thời gian hoàn thành trên từng máy
    machines_heap = [(0, machine_id) for machine_id in range(machines)]

    # Lập lịch công việc
    for job in sorted_jobs:
        processing_time, machine_id = heapq.heappop(machines_heap)
        start_time=0
        start_time = max(processing_time,start_time)  # Thời điểm bắt đầu là max(thời gian hoàn thành trước đó, thời gian bắt đầu công việc)
        finish_time = start_time + job[5]  # Thời gian hoàn thành công việc là thời gian bắt đầu + thời gian gia công
        df.at[int(job[0]) - 1, 'Start time 1'] = start_time
        df.at[int(job[0]) - 1, 'Finish time 1'] = finish_time
        df.at[int(job[0]) - 1, 'Máy trải'] = machine_id + 1
        heapq.heappush(machines_heap, (finish_time, machine_id))  # Cập nhật hàng đợi với thời gian hoàn thành mới

        #print(f"Công việc {int(job[0])} được lập lịch cho máy {machine_id + 1} từ {start_time} đến {finish_time}")
# Số lượng máy
số_máy_trải= 8

schedule_jobs(data, số_máy_trải)
data_stage2= data.sort_values(by='Máy trải')
display(data_stage2)
#Gán việc cho máy cắt
cutting_machine = []
for ind in data_stage2.index:
    cutting_machine.append((data_stage2['Máy trải'][ind] + 1) // 2)

data_stage2['Máy cắt'] = cutting_machine
data_stage2 = data_stage2.sort_values(by=['Finish time 1', 'Máy cắt'])
display(data_stage2)
#Tính thời gian cho trạm cắt
num_cutting_machine = 4
cur_cutting_time: list[float] = [data_stage2[data_stage2['Máy cắt'] == idx + 1].iloc[0, 8] for idx in range(num_cutting_machine)]

data_stage2['Start time 2'] = 0.0
data_stage2['Finish time 2'] = 0.0

for ind in data_stage2.index:
    cutting_idx = data_stage2.at[ind, 'Máy cắt'] - 1
    data_stage2.at[ind, 'Start time 2'] = max(cur_cutting_time[cutting_idx], data_stage2.at[ind, 'Finish time 1'])
    data_stage2.at[ind, 'Finish time 2'] = data_stage2['Start time 2'][ind] + data_stage2['P cắt'][ind]

    # Update current cutting time
    cur_cutting_time[cutting_idx] = data_stage2.at[ind, 'Finish time 2']
#Tính độ trễ
data_stage2['Độ trễ (phút)']= np.maximum(0, data_stage2['Finish time 2'] - (data_stage2['Due date (h)'] * 60))
print('BẢNG KẾT QUẢ ĐIỀU ĐỘ TRẠM MÁY CẮT')
display(data_stage2)

#Tính hàm mục tiêu
column_count = 'Độ trễ (phút)'
num_tardiness = (data_stage2[column_count] > 0).sum()
print('Số công việc bị trễ theo luật FCFS = ', num_tardiness)
sum_tardiness = data_stage2['Độ trễ (phút)'].sum() 
print('Hàm mục tiêu theo luật FCFS = ',sum_tardiness,'phút')

# Thứ tự điều độ tại từng trạm
data_stage2
job_order_start_time_1 = data_stage2.sort_values(by='Start time 1')
print("\nKết quả thứ tự điều độ trên trạm trải:")
display(job_order_start_time_1[['Jobs', 'Start time 1']])

job_order_start_time_2 = data_stage2.sort_values(by='Start time 2')
print("\nKết quả thứ tự điều độ trên trạm cắt:")
display(job_order_start_time_2[['Jobs', 'Start time 2']])

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải
0,1,20230720024137,10,646,4,86.14,48.0,0.00,86.14,1
17,18,20230720024154,9,332,4,44.27,43.2,86.14,130.41,1
9,10,20230720024146,10,698,2,93.07,48.0,47.20,140.27,2
1,2,20230720024138,7,354,2,47.20,33.6,0.00,47.20,2
13,14,20230720024150,5,275,2,36.67,24.0,64.80,101.47,3
2,3,20230720024139,6,486,4,64.80,28.8,0.00,64.80,3
3,4,20230720024140,5,337,2,44.94,24.0,0.00,44.94,4
12,13,20230720024149,6,196,9,26.14,28.8,60.01,86.15,4
8,9,20230720024145,5,113,2,15.07,24.0,44.94,60.01,4
18,19,20230720024155,7,720,9,96.00,33.6,86.15,182.15,4
11,12,20230720024148,6,315,4,42.00,28.8,54.14,96.14,5
4,5,20230720024141,7,406,2,54.14,33.6,0.00,54.14,5
19,20,20230720024156,9,543,2,72.40,43.2,96.14,168.54,5
5,6,20230720024142,5,354,7,47.20,24.0,0.00,47.20,6
14,15,20230720024151,5,144,9,19.20,24.0,65.87,85.07,6
16,17,20230720024153,7,225,9,30.00,33.6,85.07,115.07,6
10,11,20230720024147,5,140,7,18.67,24.0,47.20,65.87,6
6,7,20230720024143,8,587,2,78.27,38.4,0.00,78.27,7
15,16,20230720024152,8,251,2,33.47,38.4,78.27,111.74,7
7,8,20230720024144,10,856,7,114.14,48.0,0.00,114.14,8

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải,Máy cắt
3,4,20230720024140,5,337,2,44.94,24.0,0.00,44.94,4,2
1,2,20230720024138,7,354,2,47.20,33.6,0.00,47.20,2,1
5,6,20230720024142,5,354,7,47.20,24.0,0.00,47.20,6,3
4,5,20230720024141,7,406,2,54.14,33.6,0.00,54.14,5,3
8,9,20230720024145,5,113,2,15.07,24.0,44.94,60.01,4,2
2,3,20230720024139,6,486,4,64.80,28.8,0.00,64.80,3,2
10,11,20230720024147,5,140,7,18.67,24.0,47.20,65.87,6,3
6,7,20230720024143,8,587,2,78.27,38.4,0.00,78.27,7,4
14,15,20230720024151,5,144,9,19.20,24.0,65.87,85.07,6,3
0,1,20230720024137,10,646,4,86.14,48.0,0.00,86.14,1,1
12,13,20230720024149,6,196,9,26.14,28.8,60.01,86.15,4,2
11,12,20230720024148,6,315,4,42.00,28.8,54.14,96.14,5,3
13,14,20230720024150,5,275,2,36.67,24.0,64.80,101.47,3,2
15,16,20230720024152,8,251,2,33.47,38.4,78.27,111.74,7,4
7,8,20230720024144,10,856,7,114.14,48.0,0.00,114.14,8,4
16,17,20230720024153,7,225,9,30.00,33.6,85.07,115.07,6,3
17,18,20230720024154,9,332,4,44.27,43.2,86.14,130.41,1,1
9,10,20230720024146,10,698,2,93.07,48.0,47.20,140.27,2,1
19,20,20230720024156,9,543,2,72.40,43.2,96.14,168.54,5,3
18,19,20230720024155,7,720,9,96.00,33.6,86.15,182.15,4,2

BẢNG KẾT QUẢ ĐIỀU ĐỘ TRẠM MÁY CẮT

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải,Máy cắt,Start time 2,Finish time 2,Độ trễ (phút)
3,4,20230720024140,5,337,2,44.94,24.0,0.00,44.94,4,2,44.94,68.94,0.00
1,2,20230720024138,7,354,2,47.20,33.6,0.00,47.20,2,1,47.20,80.80,0.00
5,6,20230720024142,5,354,7,47.20,24.0,0.00,47.20,6,3,47.20,71.20,0.00
4,5,20230720024141,7,406,2,54.14,33.6,0.00,54.14,5,3,71.20,104.80,0.00
8,9,20230720024145,5,113,2,15.07,24.0,44.94,60.01,4,2,68.94,92.94,0.00
2,3,20230720024139,6,486,4,64.80,28.8,0.00,64.80,3,2,92.94,121.74,0.00
10,11,20230720024147,5,140,7,18.67,24.0,47.20,65.87,6,3,104.80,128.80,0.00
6,7,20230720024143,8,587,2,78.27,38.4,0.00,78.27,7,4,78.27,116.67,0.00
14,15,20230720024151,5,144,9,19.20,24.0,65.87,85.07,6,3,128.80,152.80,0.00
0,1,20230720024137,10,646,4,86.14,48.0,0.00,86.14,1,1,86.14,134.14,0.00
12,13,20230720024149,6,196,9,26.14,28.8,60.01,86.15,4,2,121.74,150.54,0.00
11,12,20230720024148,6,315,4,42.00,28.8,54.14,96.14,5,3,152.80,181.60,0.00
13,14,20230720024150,5,275,2,36.67,24.0,64.80,101.47,3,2,150.54,174.54,54.54
15,16,20230720024152,8,251,2,33.47,38.4,78.27,111.74,7,4,116.67,155.07,35.07
7,8,20230720024144,10,856,7,114.14,48.0,0.00,114.14,8,4,155.07,203.07,0.00
16,17,20230720024153,7,225,9,30.00,33.6,85.07,115.07,6,3,181.60,215.20,0.00
17,18,20230720024154,9,332,4,44.27,43.2,86.14,130.41,1,1,134.14,177.34,0.00
9,10,20230720024146,10,698,2,93.07,48.0,47.20,140.27,2,1,177.34,225.34,105.34
19,20,20230720024156,9,543,2,72.40,43.2,96.14,168.54,5,3,215.20,258.40,138.40
18,19,20230720024155,7,720,9,96.00,33.6,86.15,182.15,4,2,182.15,215.75,0.00

Số công việc bị trễ theo luật FCFS =  4
Hàm mục tiêu theo luật FCFS =  333.35 phút

Kết quả thứ tự điều độ trên trạm trải:

    Jobs  Start time 1
3      4          0.00
7      8          0.00
6      7          0.00
2      3          0.00
0      1          0.00
4      5          0.00
5      6          0.00
1      2          0.00
8      9         44.94
10    11         47.20
9     10         47.20
11    12         54.14
12    13         60.01
13    14         64.80
14    15         65.87
15    16         78.27
16    17         85.07
17    18         86.14
18    19         86.15
19    20         96.14

Kết quả thứ tự điều độ trên trạm cắt:

    Jobs  Start time 2
3      4         44.94
1      2         47.20
5      6         47.20
8      9         68.94
4      5         71.20
6      7         78.27
0      1         86.14
2      3         92.94
10    11        104.80
15    16        116.67
12    13        121.74
14    15        128.80
17    18        134.14
13    14        150.54
11    12        152.80
7      8        155.07
9     10        177.34
16    17        181.60
18    19        182.15
19    20        215.20

DISPATCHING RULE - SPT

In [42]:
import pandas as pd
import numpy as np
import heapq
import os
data = pd.read_excel(os.path.join(data_path, 'Data.xlsx'), sheet_name=0, index_col=0)
data = data.reset_index()
data['Start time 1'] = 0
data['Finish time 1'] = 0
data['Máy trải'] = 0
def schedule_jobs(df, machines):
    # Sắp xếp công việc theo thời gian tới hạn (due date) tăng dần
    sorted_jobs = data.sort_values(by='P trải').values

    # Khởi tạo hàng đợi ưu tiên (min heap) để theo dõi thời gian hoàn thành trên từng máy
    machines_heap = [(0, machine_id) for machine_id in range(machines)]

    # Lập lịch công việc
    for job in sorted_jobs:
        processing_time, machine_id = heapq.heappop(machines_heap)
        start_time=0
        start_time = max(processing_time,start_time)  # Thời điểm bắt đầu là max(thời gian hoàn thành trước đó, thời gian bắt đầu công việc)
        finish_time = start_time + job[5]  # Thời gian hoàn thành công việc là thời gian bắt đầu + thời gian gia công
        df.at[int(job[0]) - 1, 'Start time 1'] = start_time
        df.at[int(job[0]) - 1, 'Finish time 1'] = finish_time
        df.at[int(job[0]) - 1, 'Máy trải'] = machine_id + 1
        heapq.heappush(machines_heap, (finish_time, machine_id))  # Cập nhật hàng đợi với thời gian hoàn thành mới

        #print(f"Công việc {int(job[0])} được lập lịch cho máy {machine_id + 1} từ {start_time} đến {finish_time}")
# Số lượng máy
số_máy_trải= 8

schedule_jobs(data, số_máy_trải)
data_stage2= data.sort_values(by='Máy trải')
display(data_stage2)
#Gán việc cho máy cắt
cutting_machine = []
for ind in data_stage2.index:
    cutting_machine.append((data_stage2['Máy trải'][ind] + 1) // 2)

data_stage2['Máy cắt'] = cutting_machine
data_stage2 = data_stage2.sort_values(by=['Finish time 1', 'Máy cắt'])
display(data_stage2)
#Tính thời gian cho trạm cắt
num_cutting_machine = 4
cur_cutting_time: list[float] = [data_stage2[data_stage2['Máy cắt'] == idx + 1].iloc[0, 8] for idx in range(num_cutting_machine)]

data_stage2['Start time 2'] = 0.0
data_stage2['Finish time 2'] = 0.0

for ind in data_stage2.index:
    cutting_idx = data_stage2.at[ind, 'Máy cắt'] - 1
    data_stage2.at[ind, 'Start time 2'] = max(cur_cutting_time[cutting_idx], data_stage2.at[ind, 'Finish time 1'])
    data_stage2.at[ind, 'Finish time 2'] = data_stage2['Start time 2'][ind] + data_stage2['P cắt'][ind]

    # Update current cutting time
    cur_cutting_time[cutting_idx] = data_stage2.at[ind, 'Finish time 2']
#Tính độ trễ
data_stage2['Độ trễ (phút)']= np.maximum(0, data_stage2['Finish time 2'] - (data_stage2['Due date (h)'] * 60))
print('BẢNG KẾT QUẢ ĐIỀU ĐỘ TRẠM MÁY CẮT')
display(data_stage2)

#Tính hàm mục tiêu
column_count = 'Độ trễ (phút)'
num_tardiness = (data_stage2[column_count] > 0).sum()
print('Số công việc bị trễ theo luật SPT = ', num_tardiness)
sum_tardiness = data_stage2['Độ trễ (phút)'].sum() 
print('Hàm mục tiêu theo luật SPT = ',sum_tardiness,'phút')

# Thứ tự điều độ tại từng trạm
data_stage2
job_order_start_time_1 = data_stage2.sort_values(by='Start time 1')
print("\nKết quả thứ tự điều độ trên trạm trải:")
display(job_order_start_time_1[['Jobs', 'Start time 1']])

job_order_start_time_2 = data_stage2.sort_values(by='Start time 2')
print("\nKết quả thứ tự điều độ trên trạm cắt:")
display(job_order_start_time_2[['Jobs', 'Start time 2']])

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải
0,1,20230720024137,10,646,4,86.14,48.0,59.34,145.48,1
17,18,20230720024154,9,332,4,44.27,43.2,15.07,59.34,1
8,9,20230720024145,5,113,2,15.07,24.0,0.00,15.07,1
10,11,20230720024147,5,140,7,18.67,24.0,0.00,18.67,2
9,10,20230720024146,10,698,2,93.07,48.0,63.61,156.68,2
3,4,20230720024140,5,337,2,44.94,24.0,18.67,63.61,2
18,19,20230720024155,7,720,9,96.00,33.6,66.40,162.40,3
14,15,20230720024151,5,144,9,19.20,24.0,0.00,19.20,3
1,2,20230720024138,7,354,2,47.20,33.6,19.20,66.40,3
5,6,20230720024142,5,354,7,47.20,24.0,26.14,73.34,4
7,8,20230720024144,10,856,7,114.14,48.0,73.34,187.48,4
12,13,20230720024149,6,196,9,26.14,28.8,0.00,26.14,4
16,17,20230720024153,7,225,9,30.00,33.6,0.00,30.00,5
4,5,20230720024141,7,406,2,54.14,33.6,30.00,84.14,5
2,3,20230720024139,6,486,4,64.80,28.8,33.47,98.27,6
15,16,20230720024152,8,251,2,33.47,38.4,0.00,33.47,6
13,14,20230720024150,5,275,2,36.67,24.0,0.00,36.67,7
19,20,20230720024156,9,543,2,72.40,43.2,36.67,109.07,7
6,7,20230720024143,8,587,2,78.27,38.4,42.00,120.27,8
11,12,20230720024148,6,315,4,42.00,28.8,0.00,42.00,8

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải,Máy cắt
8,9,20230720024145,5,113,2,15.07,24.0,0.00,15.07,1,1
10,11,20230720024147,5,140,7,18.67,24.0,0.00,18.67,2,1
14,15,20230720024151,5,144,9,19.20,24.0,0.00,19.20,3,2
12,13,20230720024149,6,196,9,26.14,28.8,0.00,26.14,4,2
16,17,20230720024153,7,225,9,30.00,33.6,0.00,30.00,5,3
15,16,20230720024152,8,251,2,33.47,38.4,0.00,33.47,6,3
13,14,20230720024150,5,275,2,36.67,24.0,0.00,36.67,7,4
11,12,20230720024148,6,315,4,42.00,28.8,0.00,42.00,8,4
17,18,20230720024154,9,332,4,44.27,43.2,15.07,59.34,1,1
3,4,20230720024140,5,337,2,44.94,24.0,18.67,63.61,2,1
1,2,20230720024138,7,354,2,47.20,33.6,19.20,66.40,3,2
5,6,20230720024142,5,354,7,47.20,24.0,26.14,73.34,4,2
4,5,20230720024141,7,406,2,54.14,33.6,30.00,84.14,5,3
2,3,20230720024139,6,486,4,64.80,28.8,33.47,98.27,6,3
19,20,20230720024156,9,543,2,72.40,43.2,36.67,109.07,7,4
6,7,20230720024143,8,587,2,78.27,38.4,42.00,120.27,8,4
0,1,20230720024137,10,646,4,86.14,48.0,59.34,145.48,1,1
9,10,20230720024146,10,698,2,93.07,48.0,63.61,156.68,2,1
18,19,20230720024155,7,720,9,96.00,33.6,66.40,162.40,3,2
7,8,20230720024144,10,856,7,114.14,48.0,73.34,187.48,4,2

BẢNG KẾT QUẢ ĐIỀU ĐỘ TRẠM MÁY CẮT

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải,Máy cắt,Start time 2,Finish time 2,Độ trễ (phút)
8,9,20230720024145,5,113,2,15.07,24.0,0.00,15.07,1,1,15.07,39.07,0.00
10,11,20230720024147,5,140,7,18.67,24.0,0.00,18.67,2,1,39.07,63.07,0.00
14,15,20230720024151,5,144,9,19.20,24.0,0.00,19.20,3,2,19.20,43.20,0.00
12,13,20230720024149,6,196,9,26.14,28.8,0.00,26.14,4,2,43.20,72.00,0.00
16,17,20230720024153,7,225,9,30.00,33.6,0.00,30.00,5,3,30.00,63.60,0.00
15,16,20230720024152,8,251,2,33.47,38.4,0.00,33.47,6,3,63.60,102.00,0.00
13,14,20230720024150,5,275,2,36.67,24.0,0.00,36.67,7,4,36.67,60.67,0.00
11,12,20230720024148,6,315,4,42.00,28.8,0.00,42.00,8,4,60.67,89.47,0.00
17,18,20230720024154,9,332,4,44.27,43.2,15.07,59.34,1,1,63.07,106.27,0.00
3,4,20230720024140,5,337,2,44.94,24.0,18.67,63.61,2,1,106.27,130.27,10.27
1,2,20230720024138,7,354,2,47.20,33.6,19.20,66.40,3,2,72.00,105.60,0.00
5,6,20230720024142,5,354,7,47.20,24.0,26.14,73.34,4,2,105.60,129.60,0.00
4,5,20230720024141,7,406,2,54.14,33.6,30.00,84.14,5,3,102.00,135.60,15.60
2,3,20230720024139,6,486,4,64.80,28.8,33.47,98.27,6,3,135.60,164.40,0.00
19,20,20230720024156,9,543,2,72.40,43.2,36.67,109.07,7,4,109.07,152.27,32.27
6,7,20230720024143,8,587,2,78.27,38.4,42.00,120.27,8,4,152.27,190.67,70.67
0,1,20230720024137,10,646,4,86.14,48.0,59.34,145.48,1,1,145.48,193.48,0.00
9,10,20230720024146,10,698,2,93.07,48.0,63.61,156.68,2,1,193.48,241.48,121.48
18,19,20230720024155,7,720,9,96.00,33.6,66.40,162.40,3,2,162.40,196.00,0.00
7,8,20230720024144,10,856,7,114.14,48.0,73.34,187.48,4,2,196.00,244.00,0.00

Số công việc bị trễ theo luật SPT =  5
Hàm mục tiêu theo luật SPT =  250.29000000000005 phút

Kết quả thứ tự điều độ trên trạm trải:

    Jobs  Start time 1
8      9          0.00
10    11          0.00
14    15          0.00
12    13          0.00
16    17          0.00
15    16          0.00
13    14          0.00
11    12          0.00
17    18         15.07
3      4         18.67
1      2         19.20
5      6         26.14
4      5         30.00
2      3         33.47
19    20         36.67
6      7         42.00
0      1         59.34
9     10         63.61
18    19         66.40
7      8         73.34

Kết quả thứ tự điều độ trên trạm cắt:

    Jobs  Start time 2
8      9         15.07
14    15         19.20
16    17         30.00
13    14         36.67
10    11         39.07
12    13         43.20
11    12         60.67
17    18         63.07
15    16         63.60
1      2         72.00
4      5        102.00
5      6        105.60
3      4        106.27
19    20        109.07
2      3        135.60
0      1        145.48
6      7        152.27
18    19        162.40
9     10        193.48
7      8        196.00

DISPATCHING RULE - LPT

In [43]:
import pandas as pd
import numpy as np
import heapq
import os
data = pd.read_excel(os.path.join(data_path, 'Data.xlsx'), sheet_name=0, index_col=0)
data = data.reset_index()
data['Start time 1'] = 0
data['Finish time 1'] = 0
data['Máy trải'] = 0
def schedule_jobs(df, machines):
    # Sắp xếp công việc theo thời gian tới hạn (due date) tăng dần
    sorted_jobs = data.sort_values(by='P trải', ascending=False).values

    # Khởi tạo hàng đợi ưu tiên (min heap) để theo dõi thời gian hoàn thành trên từng máy
    machines_heap = [(0, machine_id) for machine_id in range(machines)]

    # Lập lịch công việc
    for job in sorted_jobs:
        processing_time, machine_id = heapq.heappop(machines_heap)
        start_time=0
        start_time = max(processing_time,start_time)  # Thời điểm bắt đầu là max(thời gian hoàn thành trước đó, thời gian bắt đầu công việc)
        finish_time = start_time + job[5]  # Thời gian hoàn thành công việc là thời gian bắt đầu + thời gian gia công
        df.at[int(job[0]) - 1, 'Start time 1'] = start_time
        df.at[int(job[0]) - 1, 'Finish time 1'] = finish_time
        df.at[int(job[0]) - 1, 'Máy trải'] = machine_id + 1
        heapq.heappush(machines_heap, (finish_time, machine_id))  # Cập nhật hàng đợi với thời gian hoàn thành mới

        #print(f"Công việc {int(job[0])} được lập lịch cho máy {machine_id + 1} từ {start_time} đến {finish_time}")
# Số lượng máy
số_máy_trải= 8

schedule_jobs(data, số_máy_trải)
data_stage2= data.sort_values(by='Máy trải')
display(data_stage2)
#Gán việc cho máy cắt
cutting_machine = []
for ind in data_stage2.index:
    cutting_machine.append((data_stage2['Máy trải'][ind] + 1) // 2)

data_stage2['Máy cắt'] = cutting_machine
data_stage2 = data_stage2.sort_values(by=['Finish time 1', 'Máy cắt'])
display(data_stage2)
#Tính thời gian cho trạm cắt
num_cutting_machine = 4
cur_cutting_time: list[float] = [data_stage2[data_stage2['Máy cắt'] == idx + 1].iloc[0, 8] for idx in range(num_cutting_machine)]

data_stage2['Start time 2'] = 0.0
data_stage2['Finish time 2'] = 0.0

for ind in data_stage2.index:
    cutting_idx = data_stage2.at[ind, 'Máy cắt'] - 1
    data_stage2.at[ind, 'Start time 2'] = max(cur_cutting_time[cutting_idx], data_stage2.at[ind, 'Finish time 1'])
    data_stage2.at[ind, 'Finish time 2'] = data_stage2['Start time 2'][ind] + data_stage2['P cắt'][ind]

    # Update current cutting time
    cur_cutting_time[cutting_idx] = data_stage2.at[ind, 'Finish time 2']
#Tính độ trễ
data_stage2['Độ trễ (phút)']= np.maximum(0, data_stage2['Finish time 2'] - (data_stage2['Due date (h)'] * 60))
print('BẢNG KẾT QUẢ ĐIỀU ĐỘ TRẠM MÁY CẮT')
display(data_stage2)

#Tính hàm mục tiêu
column_count = 'Độ trễ (phút)'
num_tardiness = (data_stage2[column_count] > 0).sum()
print('Số công việc bị trễ theo luật LPT = ', num_tardiness)
sum_tardiness = data_stage2['Độ trễ (phút)'].sum() 
print('Hàm mục tiêu theo luật LPT = ',sum_tardiness,'phút')

# Thứ tự điều độ tại từng trạm
data_stage2
job_order_start_time_1 = data_stage2.sort_values(by='Start time 1')
print("\nKết quả thứ tự điều độ trên trạm trải:")
display(job_order_start_time_1[['Jobs', 'Start time 1']])

job_order_start_time_2 = data_stage2.sort_values(by='Start time 2')
print("\nKết quả thứ tự điều độ trên trạm cắt:")
display(job_order_start_time_2[['Jobs', 'Start time 2']])

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải
14,15,20230720024151,5,144,9,19.20,24.0,114.14,133.34,1
7,8,20230720024144,10,856,7,114.14,48.0,0.00,114.14,1
15,16,20230720024152,8,251,2,33.47,38.4,96.00,129.47,2
18,19,20230720024155,7,720,9,96.00,33.6,0.00,96.00,2
9,10,20230720024146,10,698,2,93.07,48.0,0.00,93.07,3
13,14,20230720024150,5,275,2,36.67,24.0,93.07,129.74,3
11,12,20230720024148,6,315,4,42.00,28.8,86.14,128.14,4
0,1,20230720024137,10,646,4,86.14,48.0,0.00,86.14,4
8,9,20230720024145,5,113,2,15.07,24.0,122.54,137.61,5
17,18,20230720024154,9,332,4,44.27,43.2,78.27,122.54,5
6,7,20230720024143,8,587,2,78.27,38.4,0.00,78.27,5
10,11,20230720024147,5,140,7,18.67,24.0,117.34,136.01,6
3,4,20230720024140,5,337,2,44.94,24.0,72.40,117.34,6
19,20,20230720024156,9,543,2,72.40,43.2,0.00,72.40,6
12,13,20230720024149,6,196,9,26.14,28.8,112.00,138.14,7
2,3,20230720024139,6,486,4,64.80,28.8,0.00,64.80,7
1,2,20230720024138,7,354,2,47.20,33.6,64.80,112.00,7
5,6,20230720024142,5,354,7,47.20,24.0,54.14,101.34,8
4,5,20230720024141,7,406,2,54.14,33.6,0.00,54.14,8
16,17,20230720024153,7,225,9,30.00,33.6,101.34,131.34,8

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải,Máy cắt
4,5,20230720024141,7,406,2,54.14,33.6,0.00,54.14,8,4
2,3,20230720024139,6,486,4,64.80,28.8,0.00,64.80,7,4
19,20,20230720024156,9,543,2,72.40,43.2,0.00,72.40,6,3
6,7,20230720024143,8,587,2,78.27,38.4,0.00,78.27,5,3
0,1,20230720024137,10,646,4,86.14,48.0,0.00,86.14,4,2
9,10,20230720024146,10,698,2,93.07,48.0,0.00,93.07,3,2
18,19,20230720024155,7,720,9,96.00,33.6,0.00,96.00,2,1
5,6,20230720024142,5,354,7,47.20,24.0,54.14,101.34,8,4
1,2,20230720024138,7,354,2,47.20,33.6,64.80,112.00,7,4
7,8,20230720024144,10,856,7,114.14,48.0,0.00,114.14,1,1
3,4,20230720024140,5,337,2,44.94,24.0,72.40,117.34,6,3
17,18,20230720024154,9,332,4,44.27,43.2,78.27,122.54,5,3
11,12,20230720024148,6,315,4,42.00,28.8,86.14,128.14,4,2
15,16,20230720024152,8,251,2,33.47,38.4,96.00,129.47,2,1
13,14,20230720024150,5,275,2,36.67,24.0,93.07,129.74,3,2
16,17,20230720024153,7,225,9,30.00,33.6,101.34,131.34,8,4
14,15,20230720024151,5,144,9,19.20,24.0,114.14,133.34,1,1
10,11,20230720024147,5,140,7,18.67,24.0,117.34,136.01,6,3
8,9,20230720024145,5,113,2,15.07,24.0,122.54,137.61,5,3
12,13,20230720024149,6,196,9,26.14,28.8,112.00,138.14,7,4

BẢNG KẾT QUẢ ĐIỀU ĐỘ TRẠM MÁY CẮT

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải,Máy cắt,Start time 2,Finish time 2,Độ trễ (phút)
4,5,20230720024141,7,406,2,54.14,33.6,0.00,54.14,8,4,54.14,87.74,0.00
2,3,20230720024139,6,486,4,64.80,28.8,0.00,64.80,7,4,87.74,116.54,0.00
19,20,20230720024156,9,543,2,72.40,43.2,0.00,72.40,6,3,72.40,115.60,0.00
6,7,20230720024143,8,587,2,78.27,38.4,0.00,78.27,5,3,115.60,154.00,34.00
0,1,20230720024137,10,646,4,86.14,48.0,0.00,86.14,4,2,86.14,134.14,0.00
9,10,20230720024146,10,698,2,93.07,48.0,0.00,93.07,3,2,134.14,182.14,62.14
18,19,20230720024155,7,720,9,96.00,33.6,0.00,96.00,2,1,96.00,129.60,0.00
5,6,20230720024142,5,354,7,47.20,24.0,54.14,101.34,8,4,116.54,140.54,0.00
1,2,20230720024138,7,354,2,47.20,33.6,64.80,112.00,7,4,140.54,174.14,54.14
7,8,20230720024144,10,856,7,114.14,48.0,0.00,114.14,1,1,129.60,177.60,0.00
3,4,20230720024140,5,337,2,44.94,24.0,72.40,117.34,6,3,154.00,178.00,58.00
17,18,20230720024154,9,332,4,44.27,43.2,78.27,122.54,5,3,178.00,221.20,0.00
11,12,20230720024148,6,315,4,42.00,28.8,86.14,128.14,4,2,182.14,210.94,0.00
15,16,20230720024152,8,251,2,33.47,38.4,96.00,129.47,2,1,177.60,216.00,96.00
13,14,20230720024150,5,275,2,36.67,24.0,93.07,129.74,3,2,210.94,234.94,114.94
16,17,20230720024153,7,225,9,30.00,33.6,101.34,131.34,8,4,174.14,207.74,0.00
14,15,20230720024151,5,144,9,19.20,24.0,114.14,133.34,1,1,216.00,240.00,0.00
10,11,20230720024147,5,140,7,18.67,24.0,117.34,136.01,6,3,221.20,245.20,0.00
8,9,20230720024145,5,113,2,15.07,24.0,122.54,137.61,5,3,245.20,269.20,149.20
12,13,20230720024149,6,196,9,26.14,28.8,112.00,138.14,7,4,207.74,236.54,0.00

Số công việc bị trễ theo luật LPT =  7
Hàm mục tiêu theo luật LPT =  568.4200000000001 phút

Kết quả thứ tự điều độ trên trạm trải:

    Jobs  Start time 1
4      5          0.00
18    19          0.00
9     10          0.00
0      1          0.00
7      8          0.00
19    20          0.00
2      3          0.00
6      7          0.00
5      6         54.14
1      2         64.80
3      4         72.40
17    18         78.27
11    12         86.14
13    14         93.07
15    16         96.00
16    17        101.34
12    13        112.00
14    15        114.14
10    11        117.34
8      9        122.54

Kết quả thứ tự điều độ trên trạm cắt:

    Jobs  Start time 2
4      5         54.14
19    20         72.40
0      1         86.14
2      3         87.74
18    19         96.00
6      7        115.60
5      6        116.54
7      8        129.60
9     10        134.14
1      2        140.54
3      4        154.00
16    17        174.14
15    16        177.60
17    18        178.00
11    12        182.14
12    13        207.74
13    14        210.94
14    15        216.00
10    11        221.20
8      9        245.20

PHƯƠNG PHÁP LẤY NGẪU NHIÊN

In [53]:
import pandas as pd
import numpy as np
import heapq
import os

# Define the number of random runs
num_random_runs = 6

# Initialize a list to store the results for each random run
all_results = []

for i in range(num_random_runs):
    data = pd.read_excel(os.path.join(data_path, 'Data.xlsx'), sheet_name=0, index_col=0)
    data = data.reset_index()
    data['Start time 1'] = 0
    data['Finish time 1'] = 0
    data['Máy trải'] = 0

    def schedule_jobs(df, machines):
        # Sắp xếp công việc theo pp ngẫu nhiên
        randomly_sorted_jobs = data.sample(frac=1).values

        # Khởi tạo hàng đợi ưu tiên (min heap) để theo dõi thời gian hoàn thành trên từng máy
        machines_heap = [(0, machine_id) for machine_id in range(machines)]

        # Lập lịch công việc
        for job in randomly_sorted_jobs:
            processing_time, machine_id = heapq.heappop(machines_heap)
            start_time = 0
            start_time = max(processing_time, start_time)
            finish_time = start_time + job[5]
            df.at[int(job[0]) - 1, 'Start time 1'] = start_time
            df.at[int(job[0]) - 1, 'Finish time 1'] = finish_time
            df.at[int(job[0]) - 1, 'Máy trải'] = machine_id + 1
            heapq.heappush(machines_heap, (finish_time, machine_id))

    # Số lượng máy
    số_máy_trải = 8
    schedule_jobs(data, số_máy_trải)
    data_stage2 = data.sort_values(by='Máy trải')

    # Gán việc cho máy cắt
    cutting_machine = []
    for ind in data_stage2.index:
        cutting_machine.append((data_stage2['Máy trải'][ind] + 1) // 2)

    data_stage2['Máy cắt'] = cutting_machine
    data_stage2 = data_stage2.sort_values(by=['Finish time 1', 'Máy cắt'])

    # Tính thời gian cho trạm cắt
    num_cutting_machine = 4
    cur_cutting_time = [data_stage2[data_stage2['Máy cắt'] == idx + 1].iloc[0, 8] for idx in range(num_cutting_machine)]

    data_stage2['Start time 2'] = 0.0
    data_stage2['Finish time 2'] = 0.0

    for ind in data_stage2.index:
        cutting_idx = data_stage2.at[ind, 'Máy cắt'] - 1
        data_stage2.at[ind, 'Start time 2'] = max(cur_cutting_time[cutting_idx], data_stage2.at[ind, 'Finish time 1'])
        data_stage2.at[ind, 'Finish time 2'] = data_stage2['Start time 2'][ind] + data_stage2['P cắt'][ind]

        # Update current cutting time
        cur_cutting_time[cutting_idx] = data_stage2.at[ind, 'Finish time 2']

    # Tính độ trễ
    data_stage2['Độ trễ (phút)'] = np.maximum(0, data_stage2['Finish time 2'] - (data_stage2['Due date (h)'] * 60))

    all_results.append(data_stage2.copy())

    # Calculate the objective function for the current random run
    column_count = 'Độ trễ (phút)'
    num_tardiness = (data_stage2[column_count] > 0).sum()
    sum_tardiness = data_stage2['Độ trễ (phút)'].sum()
    print(f'Kết quả lần {i+1}:')
    print('Số công việc bị trễ theo phương pháp ngẫu nhiên = ', num_tardiness)
    print('Hàm mục tiêu theo phương pháp ngẫu nhiên = ', sum_tardiness, 'phút')

    # Print the job order based on 'Start time 1' and 'Start time 2' for the current random run
    job_order_start_time_1 = data_stage2.sort_values(by='Start time 1')
    print("\nThứ tự điều độ trên trạm trải:")
    display(job_order_start_time_1[['Jobs', 'Start time 1']])

    job_order_start_time_2 = data_stage2.sort_values(by='Start time 2')
    print("\nThứ tự điều độ trên trạm cắt:")
    display(job_order_start_time_2[['Jobs', 'Start time 2']])

Kết quả lần 1:
Số công việc bị trễ theo phương pháp ngẫu nhiên =  5
Hàm mục tiêu theo phương pháp ngẫu nhiên =  365.23 phút

Thứ tự điều độ trên trạm trải:

    Jobs  Start time 1
14    15          0.00
18    19          0.00
9     10          0.00
4      5          0.00
0      1          0.00
3      4          0.00
13    14          0.00
12    13          0.00
5      6         19.20
11    12         26.14
8      9         36.67
2      3         44.94
16    17         51.74
1      2         54.14
15    16         66.40
10    11         68.14
7      8         81.74
17    18         86.14
19    20         86.81
6      7         93.07

Thứ tự điều độ trên trạm cắt:

    Jobs  Start time 2
14    15         19.20
12    13         26.14
13    14         36.67
3      4         44.94
4      5         54.14
8      9         60.67
11    12         68.14
16    17         84.67
5      6         87.74
18    19         96.00
0      1         96.94
15    16        111.74
9     10        118.27
2      3        129.60
10    11        144.94
1      2        150.14
17    18        168.94
6      7        171.34
7      8        209.74
19    20        212.14

Kết quả lần 2:
Số công việc bị trễ theo phương pháp ngẫu nhiên =  7
Hàm mục tiêu theo phương pháp ngẫu nhiên =  370.97 phút

Thứ tự điều độ trên trạm trải:

    Jobs  Start time 1
10    11          0.00
14    15          0.00
11    12          0.00
3      4          0.00
5      6          0.00
6      7          0.00
0      1          0.00
7      8          0.00
16    17         18.67
2      3         19.20
19    20         42.00
17    18         44.94
15    16         47.20
13    14         48.67
1      2         78.27
4      5         80.67
18    19         84.00
9     10         85.34
8      9         86.14
12    13         89.21

Thứ tự điều độ trên trạm cắt:

    Jobs  Start time 2
10    11         18.67
14    15         19.20
11    12         42.00
3      4         44.94
5      6         47.20
16    17         48.67
15    16         80.67
6      7         82.27
0      1         86.14
17    18         89.21
2      3        119.07
13    14        120.67
7      8        132.41
8      9        134.14
1      2        144.67
4      5        147.87
19    20        158.14
9     10        178.41
12    13        180.41
18    19        181.47

Kết quả lần 3:
Số công việc bị trễ theo phương pháp ngẫu nhiên =  4
Hàm mục tiêu theo phương pháp ngẫu nhiên =  332.82 phút

Thứ tự điều độ trên trạm trải:

    Jobs  Start time 1
8      9          0.00
2      3          0.00
4      5          0.00
1      2          0.00
6      7          0.00
17    18          0.00
16    17          0.00
3      4          0.00
18    19         15.07
19    20         30.00
0      1         44.27
12    13         44.94
10    11         47.20
5      6         54.14
15    16         64.80
11    12         65.87
14    15         71.08
7      8         78.27
9     10         90.28
13    14         98.27

Thứ tự điều độ trên trạm cắt:

    Jobs  Start time 2
8      9         15.07
16    17         30.00
3      4         44.94
1      2         47.20
17    18         63.60
2      3         68.94
6      7         78.27
4      5         80.80
12    13         97.74
19    20        106.80
10    11        114.40
18    19        116.67
14    15        126.54
5      6        138.40
0      1        150.00
15    16        150.54
11    12        162.40
13    14        188.94
7      8        192.41
9     10        212.94

Kết quả lần 4:
Số công việc bị trễ theo phương pháp ngẫu nhiên =  6
Hàm mục tiêu theo phương pháp ngẫu nhiên =  455.8999999999999 phút

Thứ tự điều độ trên trạm trải:

    Jobs  Start time 1
14    15          0.00
12    13          0.00
11    12          0.00
17    18          0.00
3      4          0.00
7      8          0.00
0      1          0.00
18    19          0.00
8      9         19.20
6      7         26.14
4      5         34.27
10    11         42.00
5      6         44.27
13    14         44.94
2      3         60.67
19    20         81.61
1      2         86.14
16    17         88.41
15    16         91.47
9     10         96.00

Thứ tự điều độ trên trạm cắt:

    Jobs  Start time 2
14    15         19.20
12    13         26.14
11    12         42.00
8      9         43.20
3      4         54.94
17    18         67.20
10    11         70.80
13    14         81.61
0      1         86.14
6      7        105.61
4      5        110.40
7      8        114.14
18    19        134.14
5      6        144.00
19    20        154.01
2      3        162.14
1      2        167.74
16    17        168.00
9     10        201.34
15    16        201.60

Kết quả lần 5:
Số công việc bị trễ theo phương pháp ngẫu nhiên =  4
Hàm mục tiêu theo phương pháp ngẫu nhiên =  204.01 phút

Thứ tự điều độ trên trạm trải:

    Jobs  Start time 1
11    12          0.00
17    18          0.00
3      4          0.00
5      6          0.00
1      2          0.00
19    20          0.00
6      7          0.00
9     10          0.00
10    11         42.00
13    14         44.27
4      5         44.94
0      1         47.20
7      8         47.20
14    15         60.67
12    13         72.40
18    19         78.27
8      9         79.87
15    16         80.94
2      3         93.07
16    17         94.94

Thứ tự điều độ trên trạm cắt:

    Jobs  Start time 2
11    12         42.00
17    18         44.27
3      4         44.94
5      6         47.20
1      2         70.80
19    20         72.40
6      7         78.27
13    14         87.47
10    11        104.40
9     10        111.47
12    13        115.60
4      5        116.67
14    15        128.40
0      1        144.40
8      9        152.40
15    16        159.47
18    19        174.27
16    17        176.40
2      3        197.87
7      8        210.00

Kết quả lần 6:
Số công việc bị trễ theo phương pháp ngẫu nhiên =  6
Hàm mục tiêu theo phương pháp ngẫu nhiên =  251.22000000000006 phút

Thứ tự điều độ trên trạm trải:

    Jobs  Start time 1
14    15          0.00
6      7          0.00
4      5          0.00
5      6          0.00
0      1          0.00
17    18          0.00
15    16          0.00
3      4          0.00
2      3         19.20
19    20         33.47
1      2         44.27
9     10         44.94
10    11         47.20
18    19         54.14
12    13         65.87
7      8         78.27
13    14         84.00
8      9         86.14
16    17         91.47
11    12         92.01

Thứ tự điều độ trên trạm cắt:

    Jobs  Start time 2
14    15         19.20
15    16         33.47
3      4         44.94
5      6         47.20
4      5         54.14
10    11         71.20
17    18         71.87
2      3         84.00
0      1         87.74
6      7         95.20
1      2        115.07
13    14        120.67
12    13        133.60
8      9        135.74
9     10        144.67
19    20        148.67
18    19        159.74
11    12        162.40
16    17        191.87
7      8        192.41

In [16]:
import pandas as pd
import numpy as np
import heapq
import os
data = pd.read_excel(os.path.join(data_path, 'Child 1.xlsx'), sheet_name=0, index_col=0)
data = data.reset_index()
data['Start time 1'] = 0
data['Finish time 1'] = 0
data['Máy trải'] = 0
def schedule_jobs(df, machines):
    # Sắp xếp công việc theo thời gian tới hạn (due date) tăng dần
    sorted_jobs = data.sort_values(by='Jobs').values

    # Khởi tạo hàng đợi ưu tiên (min heap) để theo dõi thời gian hoàn thành trên từng máy
    machines_heap = [(0, machine_id) for machine_id in range(machines)]

    # Lập lịch công việc
    for job in sorted_jobs:
        processing_time, machine_id = heapq.heappop(machines_heap)
        start_time=0
        start_time = max(processing_time,start_time)  # Thời điểm bắt đầu là max(thời gian hoàn thành trước đó, thời gian bắt đầu công việc)
        finish_time = start_time + job[5]  # Thời gian hoàn thành công việc là thời gian bắt đầu + thời gian gia công
        df.at[int(job[0]) - 1, 'Start time 1'] = start_time
        df.at[int(job[0]) - 1, 'Finish time 1'] = finish_time
        df.at[int(job[0]) - 1, 'Máy trải'] = machine_id + 1
        heapq.heappush(machines_heap, (finish_time, machine_id))  # Cập nhật hàng đợi với thời gian hoàn thành mới

        #print(f"Công việc {int(job[0])} được lập lịch cho máy {machine_id + 1} từ {start_time} đến {finish_time}")
# Số lượng máy
số_máy_trải= 8

schedule_jobs(data, số_máy_trải)
data_stage2= data.sort_values(by='Máy trải')
display(data_stage2)
#Gán việc cho máy cắt
cutting_machine = []
for ind in data_stage2.index:
    cutting_machine.append((data_stage2['Máy trải'][ind] + 1) // 2)

data_stage2['Máy cắt'] = cutting_machine
data_stage2 = data_stage2.sort_values(by=['Finish time 1', 'Máy cắt'])
display(data_stage2)
#Tính thời gian cho trạm cắt
num_cutting_machine = 4
cur_cutting_time: list[float] = [data_stage2[data_stage2['Máy cắt'] == idx + 1].iloc[0, 8] for idx in range(num_cutting_machine)]

data_stage2['Start time 2'] = 0.0
data_stage2['Finish time 2'] = 0.0

for ind in data_stage2.index:
    cutting_idx = data_stage2.at[ind, 'Máy cắt'] - 1
    data_stage2.at[ind, 'Start time 2'] = max(cur_cutting_time[cutting_idx], data_stage2.at[ind, 'Finish time 1'])
    data_stage2.at[ind, 'Finish time 2'] = data_stage2['Start time 2'][ind] + data_stage2['P cắt'][ind]

    # Update current cutting time
    cur_cutting_time[cutting_idx] = data_stage2.at[ind, 'Finish time 2']
#Tính độ trễ
data_stage2['Độ trễ (phút)']= np.maximum(0, data_stage2['Finish time 2'] - (data_stage2['Due date (h)'] * 60))
print('BẢNG KẾT QUẢ ĐIỀU ĐỘ TRẠM MÁY CẮT')
display(data_stage2)

#Tính hàm mục tiêu
column_count = 'Độ trễ (phút)'
num_tardiness = (data_stage2[column_count] > 0).sum()
print('Số công việc bị trễ theo luật FCFS = ', num_tardiness)
sum_tardiness = data_stage2['Độ trễ (phút)'].sum() 
print('Hàm mục tiêu theo luật FCFS = ',sum_tardiness,'phút')

# Thứ tự điều độ tại từng trạm
data_stage2
job_order_start_time_1 = data_stage2.sort_values(by='Start time 1')
print("\nKết quả thứ tự điều độ trên trạm trải:")
display(job_order_start_time_1[['Jobs', 'Start time 1']])

job_order_start_time_2 = data_stage2.sort_values(by='Start time 2')
print("\nKết quả thứ tự điều độ trên trạm cắt:")
display(job_order_start_time_2[['Jobs', 'Start time 2']])

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải
0,11,20230720024147,5,140,7,18.67,24.0,0.00,86.14,1
17,13,20230720024149,6,196,9,26.14,28.8,86.14,130.41,1
9,12,20230720024148,6,315,4,42.00,28.8,47.20,140.27,2
1,9,20230720024145,5,113,2,15.07,24.0,0.00,47.20,2
13,8,20230720024144,10,856,7,114.14,48.0,64.80,101.47,3
2,16,20230720024152,8,251,2,33.47,38.4,0.00,64.80,3
3,14,20230720024150,5,275,2,36.67,24.0,0.00,44.94,4
12,1,20230720024137,10,646,4,86.14,48.0,60.01,86.15,4
8,2,20230720024138,7,354,2,47.20,33.6,44.94,60.01,4
18,15,20230720024151,5,144,9,19.20,24.0,86.15,182.15,4
11,18,20230720024154,9,332,4,44.27,43.2,54.14,96.14,5
4,4,20230720024140,5,337,2,44.94,24.0,0.00,54.14,5
19,17,20230720024153,7,225,9,30.00,33.6,96.14,168.54,5
5,20,20230720024156,9,543,2,72.40,43.2,0.00,47.20,6
14,6,20230720024142,5,354,7,47.20,24.0,65.87,85.07,6
16,19,20230720024155,7,720,9,96.00,33.6,85.07,115.07,6
10,3,20230720024139,6,486,4,64.80,28.8,47.20,65.87,6
6,7,20230720024143,8,587,2,78.27,38.4,0.00,78.27,7
15,5,20230720024141,7,406,2,54.14,33.6,78.27,111.74,7
7,10,20230720024146,10,698,2,93.07,48.0,0.00,114.14,8

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải,Máy cắt
3,14,20230720024150,5,275,2,36.67,24.0,0.00,44.94,4,2
1,9,20230720024145,5,113,2,15.07,24.0,0.00,47.20,2,1
5,20,20230720024156,9,543,2,72.40,43.2,0.00,47.20,6,3
4,4,20230720024140,5,337,2,44.94,24.0,0.00,54.14,5,3
8,2,20230720024138,7,354,2,47.20,33.6,44.94,60.01,4,2
2,16,20230720024152,8,251,2,33.47,38.4,0.00,64.80,3,2
10,3,20230720024139,6,486,4,64.80,28.8,47.20,65.87,6,3
6,7,20230720024143,8,587,2,78.27,38.4,0.00,78.27,7,4
14,6,20230720024142,5,354,7,47.20,24.0,65.87,85.07,6,3
0,11,20230720024147,5,140,7,18.67,24.0,0.00,86.14,1,1
12,1,20230720024137,10,646,4,86.14,48.0,60.01,86.15,4,2
11,18,20230720024154,9,332,4,44.27,43.2,54.14,96.14,5,3
13,8,20230720024144,10,856,7,114.14,48.0,64.80,101.47,3,2
15,5,20230720024141,7,406,2,54.14,33.6,78.27,111.74,7,4
7,10,20230720024146,10,698,2,93.07,48.0,0.00,114.14,8,4
16,19,20230720024155,7,720,9,96.00,33.6,85.07,115.07,6,3
17,13,20230720024149,6,196,9,26.14,28.8,86.14,130.41,1,1
9,12,20230720024148,6,315,4,42.00,28.8,47.20,140.27,2,1
19,17,20230720024153,7,225,9,30.00,33.6,96.14,168.54,5,3
18,15,20230720024151,5,144,9,19.20,24.0,86.15,182.15,4,2

BẢNG KẾT QUẢ ĐIỀU ĐỘ TRẠM MÁY CẮT

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải,Máy cắt,Start time 2,Finish time 2,Độ trễ (phút)
3,14,20230720024150,5,275,2,36.67,24.0,0.00,44.94,4,2,44.94,68.94,0.00
1,9,20230720024145,5,113,2,15.07,24.0,0.00,47.20,2,1,47.20,71.20,0.00
5,20,20230720024156,9,543,2,72.40,43.2,0.00,47.20,6,3,47.20,90.40,0.00
4,4,20230720024140,5,337,2,44.94,24.0,0.00,54.14,5,3,90.40,114.40,0.00
8,2,20230720024138,7,354,2,47.20,33.6,44.94,60.01,4,2,68.94,102.54,0.00
2,16,20230720024152,8,251,2,33.47,38.4,0.00,64.80,3,2,102.54,140.94,20.94
10,3,20230720024139,6,486,4,64.80,28.8,47.20,65.87,6,3,114.40,143.20,0.00
6,7,20230720024143,8,587,2,78.27,38.4,0.00,78.27,7,4,78.27,116.67,0.00
14,6,20230720024142,5,354,7,47.20,24.0,65.87,85.07,6,3,143.20,167.20,0.00
0,11,20230720024147,5,140,7,18.67,24.0,0.00,86.14,1,1,86.14,110.14,0.00
12,1,20230720024137,10,646,4,86.14,48.0,60.01,86.15,4,2,140.94,188.94,0.00
11,18,20230720024154,9,332,4,44.27,43.2,54.14,96.14,5,3,167.20,210.40,0.00
13,8,20230720024144,10,856,7,114.14,48.0,64.80,101.47,3,2,188.94,236.94,0.00
15,5,20230720024141,7,406,2,54.14,33.6,78.27,111.74,7,4,116.67,150.27,30.27
7,10,20230720024146,10,698,2,93.07,48.0,0.00,114.14,8,4,150.27,198.27,78.27
16,19,20230720024155,7,720,9,96.00,33.6,85.07,115.07,6,3,210.40,244.00,0.00
17,13,20230720024149,6,196,9,26.14,28.8,86.14,130.41,1,1,130.41,159.21,0.00
9,12,20230720024148,6,315,4,42.00,28.8,47.20,140.27,2,1,159.21,188.01,0.00
19,17,20230720024153,7,225,9,30.00,33.6,96.14,168.54,5,3,244.00,277.60,0.00
18,15,20230720024151,5,144,9,19.20,24.0,86.15,182.15,4,2,236.94,260.94,0.00

Số công việc bị trễ theo luật FCFS =  3
Hàm mục tiêu theo luật FCFS =  129.47999999999996 phút

Kết quả thứ tự điều độ trên trạm trải:

    Jobs  Start time 1
3     14          0.00
7     10          0.00
6      7          0.00
2     16          0.00
0     11          0.00
4      4          0.00
5     20          0.00
1      9          0.00
8      2         44.94
10     3         47.20
9     12         47.20
11    18         54.14
12     1         60.01
13     8         64.80
14     6         65.87
15     5         78.27
16    19         85.07
17    13         86.14
18    15         86.15
19    17         96.14

Kết quả thứ tự điều độ trên trạm cắt:

    Jobs  Start time 2
3     14         44.94
1      9         47.20
5     20         47.20
8      2         68.94
6      7         78.27
0     11         86.14
4      4         90.40
2     16        102.54
10     3        114.40
15     5        116.67
17    13        130.41
12     1        140.94
14     6        143.20
7     10        150.27
9     12        159.21
11    18        167.20
13     8        188.94
16    19        210.40
18    15        236.94
19    17        244.00

In [17]:
import pandas as pd
import numpy as np
import heapq
import os
data = pd.read_excel(os.path.join(data_path, 'Child 2.xlsx'), sheet_name=0, index_col=0)
data = data.reset_index()
data['Start time 1'] = 0
data['Finish time 1'] = 0
data['Máy trải'] = 0
def schedule_jobs(df, machines):
    # Sắp xếp công việc theo thời gian tới hạn (due date) tăng dần
    sorted_jobs = data.sort_values(by='Jobs').values

    # Khởi tạo hàng đợi ưu tiên (min heap) để theo dõi thời gian hoàn thành trên từng máy
    machines_heap = [(0, machine_id) for machine_id in range(machines)]

    # Lập lịch công việc
    for job in sorted_jobs:
        processing_time, machine_id = heapq.heappop(machines_heap)
        start_time=0
        start_time = max(processing_time,start_time)  # Thời điểm bắt đầu là max(thời gian hoàn thành trước đó, thời gian bắt đầu công việc)
        finish_time = start_time + job[5]  # Thời gian hoàn thành công việc là thời gian bắt đầu + thời gian gia công
        df.at[int(job[0]) - 1, 'Start time 1'] = start_time
        df.at[int(job[0]) - 1, 'Finish time 1'] = finish_time
        df.at[int(job[0]) - 1, 'Máy trải'] = machine_id + 1
        heapq.heappush(machines_heap, (finish_time, machine_id))  # Cập nhật hàng đợi với thời gian hoàn thành mới

        #print(f"Công việc {int(job[0])} được lập lịch cho máy {machine_id + 1} từ {start_time} đến {finish_time}")
# Số lượng máy
số_máy_trải= 8

schedule_jobs(data, số_máy_trải)
data_stage2= data.sort_values(by='Máy trải')
display(data_stage2)
#Gán việc cho máy cắt
cutting_machine = []
for ind in data_stage2.index:
    cutting_machine.append((data_stage2['Máy trải'][ind] + 1) // 2)

data_stage2['Máy cắt'] = cutting_machine
data_stage2 = data_stage2.sort_values(by=['Finish time 1', 'Máy cắt'])
display(data_stage2)
#Tính thời gian cho trạm cắt
num_cutting_machine = 4
cur_cutting_time: list[float] = [data_stage2[data_stage2['Máy cắt'] == idx + 1].iloc[0, 8] for idx in range(num_cutting_machine)]

data_stage2['Start time 2'] = 0.0
data_stage2['Finish time 2'] = 0.0

for ind in data_stage2.index:
    cutting_idx = data_stage2.at[ind, 'Máy cắt'] - 1
    data_stage2.at[ind, 'Start time 2'] = max(cur_cutting_time[cutting_idx], data_stage2.at[ind, 'Finish time 1'])
    data_stage2.at[ind, 'Finish time 2'] = data_stage2['Start time 2'][ind] + data_stage2['P cắt'][ind]

    # Update current cutting time
    cur_cutting_time[cutting_idx] = data_stage2.at[ind, 'Finish time 2']
#Tính độ trễ
data_stage2['Độ trễ (phút)']= np.maximum(0, data_stage2['Finish time 2'] - (data_stage2['Due date (h)'] * 60))
print('BẢNG KẾT QUẢ ĐIỀU ĐỘ TRẠM MÁY CẮT')
display(data_stage2)

#Tính hàm mục tiêu
column_count = 'Độ trễ (phút)'
num_tardiness = (data_stage2[column_count] > 0).sum()
print('Số công việc bị trễ theo luật FCFS = ', num_tardiness)
sum_tardiness = data_stage2['Độ trễ (phút)'].sum() 
print('Hàm mục tiêu theo luật FCFS = ',sum_tardiness,'phút')

# Thứ tự điều độ tại từng trạm
data_stage2
job_order_start_time_1 = data_stage2.sort_values(by='Start time 1')
print("\nKết quả thứ tự điều độ trên trạm trải:")
display(job_order_start_time_1[['Jobs', 'Start time 1']])

job_order_start_time_2 = data_stage2.sort_values(by='Start time 2')
print("\nKết quả thứ tự điều độ trên trạm cắt:")
display(job_order_start_time_2[['Jobs', 'Start time 2']])

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải
0,15,20230720024151,5,144,9,19.20,24.0,0.00,86.14,1
17,10,20230720024146,10,698,2,93.07,48.0,86.14,130.41,1
9,3,20230720024139,6,486,4,64.80,28.8,47.20,140.27,2
1,12,20230720024148,6,315,4,42.00,28.8,0.00,47.20,2
13,14,20230720024150,5,275,2,36.67,24.0,64.80,101.47,3
2,4,20230720024140,5,337,2,44.94,24.0,0.00,64.80,3
3,6,20230720024142,5,354,7,47.20,24.0,0.00,44.94,4
12,16,20230720024152,8,251,2,33.47,38.4,60.01,86.15,4
8,17,20230720024153,7,225,9,30.00,33.6,44.94,60.01,4
18,9,20230720024145,5,113,2,15.07,24.0,86.15,182.15,4
11,18,20230720024154,9,332,4,44.27,43.2,54.14,96.14,5
4,5,20230720024141,7,406,2,54.14,33.6,0.00,54.14,5
19,13,20230720024149,6,196,9,26.14,28.8,96.14,168.54,5
5,7,20230720024143,8,587,2,78.27,38.4,0.00,47.20,6
14,11,20230720024147,5,140,7,18.67,24.0,65.87,85.07,6
16,19,20230720024155,7,720,9,96.00,33.6,85.07,115.07,6
10,20,20230720024156,9,543,2,72.40,43.2,47.20,65.87,6
6,1,20230720024137,10,646,4,86.14,48.0,0.00,78.27,7
15,2,20230720024138,7,354,2,47.20,33.6,78.27,111.74,7
7,8,20230720024144,10,856,7,114.14,48.0,0.00,114.14,8

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải,Máy cắt
3,6,20230720024142,5,354,7,47.20,24.0,0.00,44.94,4,2
1,12,20230720024148,6,315,4,42.00,28.8,0.00,47.20,2,1
5,7,20230720024143,8,587,2,78.27,38.4,0.00,47.20,6,3
4,5,20230720024141,7,406,2,54.14,33.6,0.00,54.14,5,3
8,17,20230720024153,7,225,9,30.00,33.6,44.94,60.01,4,2
2,4,20230720024140,5,337,2,44.94,24.0,0.00,64.80,3,2
10,20,20230720024156,9,543,2,72.40,43.2,47.20,65.87,6,3
6,1,20230720024137,10,646,4,86.14,48.0,0.00,78.27,7,4
14,11,20230720024147,5,140,7,18.67,24.0,65.87,85.07,6,3
0,15,20230720024151,5,144,9,19.20,24.0,0.00,86.14,1,1
12,16,20230720024152,8,251,2,33.47,38.4,60.01,86.15,4,2
11,18,20230720024154,9,332,4,44.27,43.2,54.14,96.14,5,3
13,14,20230720024150,5,275,2,36.67,24.0,64.80,101.47,3,2
15,2,20230720024138,7,354,2,47.20,33.6,78.27,111.74,7,4
7,8,20230720024144,10,856,7,114.14,48.0,0.00,114.14,8,4
16,19,20230720024155,7,720,9,96.00,33.6,85.07,115.07,6,3
17,10,20230720024146,10,698,2,93.07,48.0,86.14,130.41,1,1
9,3,20230720024139,6,486,4,64.80,28.8,47.20,140.27,2,1
19,13,20230720024149,6,196,9,26.14,28.8,96.14,168.54,5,3
18,9,20230720024145,5,113,2,15.07,24.0,86.15,182.15,4,2

BẢNG KẾT QUẢ ĐIỀU ĐỘ TRẠM MÁY CẮT

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải,Máy cắt,Start time 2,Finish time 2,Độ trễ (phút)
3,6,20230720024142,5,354,7,47.20,24.0,0.00,44.94,4,2,44.94,68.94,0.00
1,12,20230720024148,6,315,4,42.00,28.8,0.00,47.20,2,1,47.20,76.00,0.00
5,7,20230720024143,8,587,2,78.27,38.4,0.00,47.20,6,3,47.20,85.60,0.00
4,5,20230720024141,7,406,2,54.14,33.6,0.00,54.14,5,3,85.60,119.20,0.00
8,17,20230720024153,7,225,9,30.00,33.6,44.94,60.01,4,2,68.94,102.54,0.00
2,4,20230720024140,5,337,2,44.94,24.0,0.00,64.80,3,2,102.54,126.54,6.54
10,20,20230720024156,9,543,2,72.40,43.2,47.20,65.87,6,3,119.20,162.40,42.40
6,1,20230720024137,10,646,4,86.14,48.0,0.00,78.27,7,4,78.27,126.27,0.00
14,11,20230720024147,5,140,7,18.67,24.0,65.87,85.07,6,3,162.40,186.40,0.00
0,15,20230720024151,5,144,9,19.20,24.0,0.00,86.14,1,1,86.14,110.14,0.00
12,16,20230720024152,8,251,2,33.47,38.4,60.01,86.15,4,2,126.54,164.94,44.94
11,18,20230720024154,9,332,4,44.27,43.2,54.14,96.14,5,3,186.40,229.60,0.00
13,14,20230720024150,5,275,2,36.67,24.0,64.80,101.47,3,2,164.94,188.94,68.94
15,2,20230720024138,7,354,2,47.20,33.6,78.27,111.74,7,4,126.27,159.87,39.87
7,8,20230720024144,10,856,7,114.14,48.0,0.00,114.14,8,4,159.87,207.87,0.00
16,19,20230720024155,7,720,9,96.00,33.6,85.07,115.07,6,3,229.60,263.20,0.00
17,10,20230720024146,10,698,2,93.07,48.0,86.14,130.41,1,1,130.41,178.41,58.41
9,3,20230720024139,6,486,4,64.80,28.8,47.20,140.27,2,1,178.41,207.21,0.00
19,13,20230720024149,6,196,9,26.14,28.8,96.14,168.54,5,3,263.20,292.00,0.00
18,9,20230720024145,5,113,2,15.07,24.0,86.15,182.15,4,2,188.94,212.94,92.94

Số công việc bị trễ theo luật FCFS =  7
Hàm mục tiêu theo luật FCFS =  354.03999999999996 phút

Kết quả thứ tự điều độ trên trạm trải:

    Jobs  Start time 1
3      6          0.00
7      8          0.00
6      1          0.00
2      4          0.00
0     15          0.00
4      5          0.00
5      7          0.00
1     12          0.00
8     17         44.94
10    20         47.20
9      3         47.20
11    18         54.14
12    16         60.01
13    14         64.80
14    11         65.87
15     2         78.27
16    19         85.07
17    10         86.14
18     9         86.15
19    13         96.14

Kết quả thứ tự điều độ trên trạm cắt:

    Jobs  Start time 2
3      6         44.94
1     12         47.20
5      7         47.20
8     17         68.94
6      1         78.27
4      5         85.60
0     15         86.14
2      4        102.54
10    20        119.20
15     2        126.27
12    16        126.54
17    10        130.41
7      8        159.87
14    11        162.40
13    14        164.94
9      3        178.41
11    18        186.40
18     9        188.94
16    19        229.60
19    13        263.20

In [18]:
import pandas as pd
import numpy as np
import heapq
import os
data = pd.read_excel(os.path.join(data_path, 'Child 3.xlsx'), sheet_name=0, index_col=0)
data = data.reset_index()
data['Start time 1'] = 0
data['Finish time 1'] = 0
data['Máy trải'] = 0
def schedule_jobs(df, machines):
    # Sắp xếp công việc theo thời gian tới hạn (due date) tăng dần
    sorted_jobs = data.sort_values(by='Jobs').values

    # Khởi tạo hàng đợi ưu tiên (min heap) để theo dõi thời gian hoàn thành trên từng máy
    machines_heap = [(0, machine_id) for machine_id in range(machines)]

    # Lập lịch công việc
    for job in sorted_jobs:
        processing_time, machine_id = heapq.heappop(machines_heap)
        start_time=0
        start_time = max(processing_time,start_time)  # Thời điểm bắt đầu là max(thời gian hoàn thành trước đó, thời gian bắt đầu công việc)
        finish_time = start_time + job[5]  # Thời gian hoàn thành công việc là thời gian bắt đầu + thời gian gia công
        df.at[int(job[0]) - 1, 'Start time 1'] = start_time
        df.at[int(job[0]) - 1, 'Finish time 1'] = finish_time
        df.at[int(job[0]) - 1, 'Máy trải'] = machine_id + 1
        heapq.heappush(machines_heap, (finish_time, machine_id))  # Cập nhật hàng đợi với thời gian hoàn thành mới

        #print(f"Công việc {int(job[0])} được lập lịch cho máy {machine_id + 1} từ {start_time} đến {finish_time}")
# Số lượng máy
số_máy_trải= 8

schedule_jobs(data, số_máy_trải)
data_stage2= data.sort_values(by='Máy trải')
display(data_stage2)
#Gán việc cho máy cắt
cutting_machine = []
for ind in data_stage2.index:
    cutting_machine.append((data_stage2['Máy trải'][ind] + 1) // 2)

data_stage2['Máy cắt'] = cutting_machine
data_stage2 = data_stage2.sort_values(by=['Finish time 1', 'Máy cắt'])
display(data_stage2)
#Tính thời gian cho trạm cắt
num_cutting_machine = 4
cur_cutting_time: list[float] = [data_stage2[data_stage2['Máy cắt'] == idx + 1].iloc[0, 8] for idx in range(num_cutting_machine)]

data_stage2['Start time 2'] = 0.0
data_stage2['Finish time 2'] = 0.0

for ind in data_stage2.index:
    cutting_idx = data_stage2.at[ind, 'Máy cắt'] - 1
    data_stage2.at[ind, 'Start time 2'] = max(cur_cutting_time[cutting_idx], data_stage2.at[ind, 'Finish time 1'])
    data_stage2.at[ind, 'Finish time 2'] = data_stage2['Start time 2'][ind] + data_stage2['P cắt'][ind]

    # Update current cutting time
    cur_cutting_time[cutting_idx] = data_stage2.at[ind, 'Finish time 2']
#Tính độ trễ
data_stage2['Độ trễ (phút)']= np.maximum(0, data_stage2['Finish time 2'] - (data_stage2['Due date (h)'] * 60))
print('BẢNG KẾT QUẢ ĐIỀU ĐỘ TRẠM MÁY CẮT')
display(data_stage2)

#Tính hàm mục tiêu
column_count = 'Độ trễ (phút)'
num_tardiness = (data_stage2[column_count] > 0).sum()
print('Số công việc bị trễ theo luật FCFS = ', num_tardiness)
sum_tardiness = data_stage2['Độ trễ (phút)'].sum() 
print('Hàm mục tiêu theo luật FCFS = ',sum_tardiness,'phút')

# Thứ tự điều độ tại từng trạm
data_stage2
job_order_start_time_1 = data_stage2.sort_values(by='Start time 1')
print("\nKết quả thứ tự điều độ trên trạm trải:")
display(job_order_start_time_1[['Jobs', 'Start time 1']])

job_order_start_time_2 = data_stage2.sort_values(by='Start time 2')
print("\nKết quả thứ tự điều độ trên trạm cắt:")
display(job_order_start_time_2[['Jobs', 'Start time 2']])

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải
0,12,20230720024148,6,315,4,42.00,28.8,0.00,86.14,1
17,3,20230720024139,6,486,4,64.80,28.8,86.14,130.41,1
9,11,20230720024147,5,140,7,18.67,24.0,47.20,140.27,2
1,18,20230720024154,9,332,4,44.27,43.2,0.00,47.20,2
13,8,20230720024144,10,856,7,114.14,48.0,64.80,101.47,3
2,4,20230720024140,5,337,2,44.94,24.0,0.00,64.80,3
3,6,20230720024142,5,354,7,47.20,24.0,0.00,44.94,4
12,1,20230720024137,10,646,4,86.14,48.0,60.01,86.15,4
8,9,20230720024145,5,113,2,15.07,24.0,44.94,60.01,4
18,17,20230720024153,7,225,9,30.00,33.6,86.15,182.15,4
11,5,20230720024141,7,406,2,54.14,33.6,54.14,96.14,5
4,2,20230720024138,7,354,2,47.20,33.6,0.00,54.14,5
19,19,20230720024155,7,720,9,96.00,33.6,96.14,168.54,5
5,20,20230720024156,9,543,2,72.40,43.2,0.00,47.20,6
14,15,20230720024151,5,144,9,19.20,24.0,65.87,85.07,6
16,16,20230720024152,8,251,2,33.47,38.4,85.07,115.07,6
10,14,20230720024150,5,275,2,36.67,24.0,47.20,65.87,6
6,7,20230720024143,8,587,2,78.27,38.4,0.00,78.27,7
15,13,20230720024149,6,196,9,26.14,28.8,78.27,111.74,7
7,10,20230720024146,10,698,2,93.07,48.0,0.00,114.14,8

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải,Máy cắt
3,6,20230720024142,5,354,7,47.20,24.0,0.00,44.94,4,2
1,18,20230720024154,9,332,4,44.27,43.2,0.00,47.20,2,1
5,20,20230720024156,9,543,2,72.40,43.2,0.00,47.20,6,3
4,2,20230720024138,7,354,2,47.20,33.6,0.00,54.14,5,3
8,9,20230720024145,5,113,2,15.07,24.0,44.94,60.01,4,2
2,4,20230720024140,5,337,2,44.94,24.0,0.00,64.80,3,2
10,14,20230720024150,5,275,2,36.67,24.0,47.20,65.87,6,3
6,7,20230720024143,8,587,2,78.27,38.4,0.00,78.27,7,4
14,15,20230720024151,5,144,9,19.20,24.0,65.87,85.07,6,3
0,12,20230720024148,6,315,4,42.00,28.8,0.00,86.14,1,1
12,1,20230720024137,10,646,4,86.14,48.0,60.01,86.15,4,2
11,5,20230720024141,7,406,2,54.14,33.6,54.14,96.14,5,3
13,8,20230720024144,10,856,7,114.14,48.0,64.80,101.47,3,2
15,13,20230720024149,6,196,9,26.14,28.8,78.27,111.74,7,4
7,10,20230720024146,10,698,2,93.07,48.0,0.00,114.14,8,4
16,16,20230720024152,8,251,2,33.47,38.4,85.07,115.07,6,3
17,3,20230720024139,6,486,4,64.80,28.8,86.14,130.41,1,1
9,11,20230720024147,5,140,7,18.67,24.0,47.20,140.27,2,1
19,19,20230720024155,7,720,9,96.00,33.6,96.14,168.54,5,3
18,17,20230720024153,7,225,9,30.00,33.6,86.15,182.15,4,2

BẢNG KẾT QUẢ ĐIỀU ĐỘ TRẠM MÁY CẮT

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải,Máy cắt,Start time 2,Finish time 2,Độ trễ (phút)
3,6,20230720024142,5,354,7,47.20,24.0,0.00,44.94,4,2,44.94,68.94,0.00
1,18,20230720024154,9,332,4,44.27,43.2,0.00,47.20,2,1,47.20,90.40,0.00
5,20,20230720024156,9,543,2,72.40,43.2,0.00,47.20,6,3,47.20,90.40,0.00
4,2,20230720024138,7,354,2,47.20,33.6,0.00,54.14,5,3,90.40,124.00,4.00
8,9,20230720024145,5,113,2,15.07,24.0,44.94,60.01,4,2,68.94,92.94,0.00
2,4,20230720024140,5,337,2,44.94,24.0,0.00,64.80,3,2,92.94,116.94,0.00
10,14,20230720024150,5,275,2,36.67,24.0,47.20,65.87,6,3,124.00,148.00,28.00
6,7,20230720024143,8,587,2,78.27,38.4,0.00,78.27,7,4,78.27,116.67,0.00
14,15,20230720024151,5,144,9,19.20,24.0,65.87,85.07,6,3,148.00,172.00,0.00
0,12,20230720024148,6,315,4,42.00,28.8,0.00,86.14,1,1,90.40,119.20,0.00
12,1,20230720024137,10,646,4,86.14,48.0,60.01,86.15,4,2,116.94,164.94,0.00
11,5,20230720024141,7,406,2,54.14,33.6,54.14,96.14,5,3,172.00,205.60,85.60
13,8,20230720024144,10,856,7,114.14,48.0,64.80,101.47,3,2,164.94,212.94,0.00
15,13,20230720024149,6,196,9,26.14,28.8,78.27,111.74,7,4,116.67,145.47,0.00
7,10,20230720024146,10,698,2,93.07,48.0,0.00,114.14,8,4,145.47,193.47,73.47
16,16,20230720024152,8,251,2,33.47,38.4,85.07,115.07,6,3,205.60,244.00,124.00
17,3,20230720024139,6,486,4,64.80,28.8,86.14,130.41,1,1,130.41,159.21,0.00
9,11,20230720024147,5,140,7,18.67,24.0,47.20,140.27,2,1,159.21,183.21,0.00
19,19,20230720024155,7,720,9,96.00,33.6,96.14,168.54,5,3,244.00,277.60,0.00
18,17,20230720024153,7,225,9,30.00,33.6,86.15,182.15,4,2,212.94,246.54,0.00

Số công việc bị trễ theo luật FCFS =  5
Hàm mục tiêu theo luật FCFS =  315.07 phút

Kết quả thứ tự điều độ trên trạm trải:

    Jobs  Start time 1
3      6          0.00
7     10          0.00
6      7          0.00
2      4          0.00
0     12          0.00
4      2          0.00
5     20          0.00
1     18          0.00
8      9         44.94
10    14         47.20
9     11         47.20
11     5         54.14
12     1         60.01
13     8         64.80
14    15         65.87
15    13         78.27
16    16         85.07
17     3         86.14
18    17         86.15
19    19         96.14

Kết quả thứ tự điều độ trên trạm cắt:

    Jobs  Start time 2
3      6         44.94
1     18         47.20
5     20         47.20
8      9         68.94
6      7         78.27
0     12         90.40
4      2         90.40
2      4         92.94
15    13        116.67
12     1        116.94
10    14        124.00
17     3        130.41
7     10        145.47
14    15        148.00
9     11        159.21
13     8        164.94
11     5        172.00
16    16        205.60
18    17        212.94
19    19        244.00

In [19]:
import pandas as pd
import numpy as np
import heapq
import os
data = pd.read_excel(os.path.join(data_path, 'Child 4.xlsx'), sheet_name=0, index_col=0)
data = data.reset_index()
data['Start time 1'] = 0
data['Finish time 1'] = 0
data['Máy trải'] = 0
def schedule_jobs(df, machines):
    # Sắp xếp công việc theo thời gian tới hạn (due date) tăng dần
    sorted_jobs = data.sort_values(by='Jobs').values

    # Khởi tạo hàng đợi ưu tiên (min heap) để theo dõi thời gian hoàn thành trên từng máy
    machines_heap = [(0, machine_id) for machine_id in range(machines)]

    # Lập lịch công việc
    for job in sorted_jobs:
        processing_time, machine_id = heapq.heappop(machines_heap)
        start_time=0
        start_time = max(processing_time,start_time)  # Thời điểm bắt đầu là max(thời gian hoàn thành trước đó, thời gian bắt đầu công việc)
        finish_time = start_time + job[5]  # Thời gian hoàn thành công việc là thời gian bắt đầu + thời gian gia công
        df.at[int(job[0]) - 1, 'Start time 1'] = start_time
        df.at[int(job[0]) - 1, 'Finish time 1'] = finish_time
        df.at[int(job[0]) - 1, 'Máy trải'] = machine_id + 1
        heapq.heappush(machines_heap, (finish_time, machine_id))  # Cập nhật hàng đợi với thời gian hoàn thành mới

        #print(f"Công việc {int(job[0])} được lập lịch cho máy {machine_id + 1} từ {start_time} đến {finish_time}")
# Số lượng máy
số_máy_trải= 8

schedule_jobs(data, số_máy_trải)
data_stage2= data.sort_values(by='Máy trải')
display(data_stage2)
#Gán việc cho máy cắt
cutting_machine = []
for ind in data_stage2.index:
    cutting_machine.append((data_stage2['Máy trải'][ind] + 1) // 2)

data_stage2['Máy cắt'] = cutting_machine
data_stage2 = data_stage2.sort_values(by=['Finish time 1', 'Máy cắt'])
display(data_stage2)
#Tính thời gian cho trạm cắt
num_cutting_machine = 4
cur_cutting_time: list[float] = [data_stage2[data_stage2['Máy cắt'] == idx + 1].iloc[0, 8] for idx in range(num_cutting_machine)]

data_stage2['Start time 2'] = 0.0
data_stage2['Finish time 2'] = 0.0

for ind in data_stage2.index:
    cutting_idx = data_stage2.at[ind, 'Máy cắt'] - 1
    data_stage2.at[ind, 'Start time 2'] = max(cur_cutting_time[cutting_idx], data_stage2.at[ind, 'Finish time 1'])
    data_stage2.at[ind, 'Finish time 2'] = data_stage2['Start time 2'][ind] + data_stage2['P cắt'][ind]

    # Update current cutting time
    cur_cutting_time[cutting_idx] = data_stage2.at[ind, 'Finish time 2']
#Tính độ trễ
data_stage2['Độ trễ (phút)']= np.maximum(0, data_stage2['Finish time 2'] - (data_stage2['Due date (h)'] * 60))
print('BẢNG KẾT QUẢ ĐIỀU ĐỘ TRẠM MÁY CẮT')
display(data_stage2)

#Tính hàm mục tiêu
column_count = 'Độ trễ (phút)'
num_tardiness = (data_stage2[column_count] > 0).sum()
print('Số công việc bị trễ theo luật FCFS = ', num_tardiness)
sum_tardiness = data_stage2['Độ trễ (phút)'].sum() 
print('Hàm mục tiêu theo luật FCFS = ',sum_tardiness,'phút')

# Thứ tự điều độ tại từng trạm
data_stage2
job_order_start_time_1 = data_stage2.sort_values(by='Start time 1')
print("\nKết quả thứ tự điều độ trên trạm trải:")
display(job_order_start_time_1[['Jobs', 'Start time 1']])

job_order_start_time_2 = data_stage2.sort_values(by='Start time 2')
print("\nKết quả thứ tự điều độ trên trạm cắt:")
display(job_order_start_time_2[['Jobs', 'Start time 2']])

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải
0,4,20230720024140,5,337,2,44.94,24.0,0.00,86.14,1
17,17,20230720024153,7,225,9,30.00,33.6,86.14,130.41,1
9,10,20230720024146,10,698,2,93.07,48.0,47.20,140.27,2
1,8,20230720024144,10,856,7,114.14,48.0,0.00,47.20,2
13,15,20230720024151,5,144,9,19.20,24.0,64.80,101.47,3
2,7,20230720024143,8,587,2,78.27,38.4,0.00,64.80,3
3,3,20230720024139,6,486,4,64.80,28.8,0.00,44.94,4
12,14,20230720024150,5,275,2,36.67,24.0,60.01,86.15,4
8,11,20230720024147,5,140,7,18.67,24.0,44.94,60.01,4
18,18,20230720024154,9,332,4,44.27,43.2,86.15,182.15,4
11,13,20230720024149,6,196,9,26.14,28.8,54.14,96.14,5
4,1,20230720024137,10,646,4,86.14,48.0,0.00,54.14,5
19,20,20230720024156,9,543,2,72.40,43.2,96.14,168.54,5
5,5,20230720024141,7,406,2,54.14,33.6,0.00,47.20,6
14,16,20230720024152,8,251,2,33.47,38.4,65.87,85.07,6
16,9,20230720024145,5,113,2,15.07,24.0,85.07,115.07,6
10,12,20230720024148,6,315,4,42.00,28.8,47.20,65.87,6
6,6,20230720024142,5,354,7,47.20,24.0,0.00,78.27,7
15,19,20230720024155,7,720,9,96.00,33.6,78.27,111.74,7
7,2,20230720024138,7,354,2,47.20,33.6,0.00,114.14,8

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải,Máy cắt
3,3,20230720024139,6,486,4,64.80,28.8,0.00,44.94,4,2
1,8,20230720024144,10,856,7,114.14,48.0,0.00,47.20,2,1
5,5,20230720024141,7,406,2,54.14,33.6,0.00,47.20,6,3
4,1,20230720024137,10,646,4,86.14,48.0,0.00,54.14,5,3
8,11,20230720024147,5,140,7,18.67,24.0,44.94,60.01,4,2
2,7,20230720024143,8,587,2,78.27,38.4,0.00,64.80,3,2
10,12,20230720024148,6,315,4,42.00,28.8,47.20,65.87,6,3
6,6,20230720024142,5,354,7,47.20,24.0,0.00,78.27,7,4
14,16,20230720024152,8,251,2,33.47,38.4,65.87,85.07,6,3
0,4,20230720024140,5,337,2,44.94,24.0,0.00,86.14,1,1
12,14,20230720024150,5,275,2,36.67,24.0,60.01,86.15,4,2
11,13,20230720024149,6,196,9,26.14,28.8,54.14,96.14,5,3
13,15,20230720024151,5,144,9,19.20,24.0,64.80,101.47,3,2
15,19,20230720024155,7,720,9,96.00,33.6,78.27,111.74,7,4
7,2,20230720024138,7,354,2,47.20,33.6,0.00,114.14,8,4
16,9,20230720024145,5,113,2,15.07,24.0,85.07,115.07,6,3
17,17,20230720024153,7,225,9,30.00,33.6,86.14,130.41,1,1
9,10,20230720024146,10,698,2,93.07,48.0,47.20,140.27,2,1
19,20,20230720024156,9,543,2,72.40,43.2,96.14,168.54,5,3
18,18,20230720024154,9,332,4,44.27,43.2,86.15,182.15,4,2

BẢNG KẾT QUẢ ĐIỀU ĐỘ TRẠM MÁY CẮT

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải,Máy cắt,Start time 2,Finish time 2,Độ trễ (phút)
3,3,20230720024139,6,486,4,64.80,28.8,0.00,44.94,4,2,44.94,73.74,0.00
1,8,20230720024144,10,856,7,114.14,48.0,0.00,47.20,2,1,47.20,95.20,0.00
5,5,20230720024141,7,406,2,54.14,33.6,0.00,47.20,6,3,47.20,80.80,0.00
4,1,20230720024137,10,646,4,86.14,48.0,0.00,54.14,5,3,80.80,128.80,0.00
8,11,20230720024147,5,140,7,18.67,24.0,44.94,60.01,4,2,73.74,97.74,0.00
2,7,20230720024143,8,587,2,78.27,38.4,0.00,64.80,3,2,97.74,136.14,16.14
10,12,20230720024148,6,315,4,42.00,28.8,47.20,65.87,6,3,128.80,157.60,0.00
6,6,20230720024142,5,354,7,47.20,24.0,0.00,78.27,7,4,78.27,102.27,0.00
14,16,20230720024152,8,251,2,33.47,38.4,65.87,85.07,6,3,157.60,196.00,76.00
0,4,20230720024140,5,337,2,44.94,24.0,0.00,86.14,1,1,95.20,119.20,0.00
12,14,20230720024150,5,275,2,36.67,24.0,60.01,86.15,4,2,136.14,160.14,40.14
11,13,20230720024149,6,196,9,26.14,28.8,54.14,96.14,5,3,196.00,224.80,0.00
13,15,20230720024151,5,144,9,19.20,24.0,64.80,101.47,3,2,160.14,184.14,0.00
15,19,20230720024155,7,720,9,96.00,33.6,78.27,111.74,7,4,111.74,145.34,0.00
7,2,20230720024138,7,354,2,47.20,33.6,0.00,114.14,8,4,145.34,178.94,58.94
16,9,20230720024145,5,113,2,15.07,24.0,85.07,115.07,6,3,224.80,248.80,128.80
17,17,20230720024153,7,225,9,30.00,33.6,86.14,130.41,1,1,130.41,164.01,0.00
9,10,20230720024146,10,698,2,93.07,48.0,47.20,140.27,2,1,164.01,212.01,92.01
19,20,20230720024156,9,543,2,72.40,43.2,96.14,168.54,5,3,248.80,292.00,172.00
18,18,20230720024154,9,332,4,44.27,43.2,86.15,182.15,4,2,184.14,227.34,0.00

Số công việc bị trễ theo luật FCFS =  7
Hàm mục tiêu theo luật FCFS =  584.0300000000001 phút

Kết quả thứ tự điều độ trên trạm trải:

    Jobs  Start time 1
3      3          0.00
7      2          0.00
6      6          0.00
2      7          0.00
0      4          0.00
4      1          0.00
5      5          0.00
1      8          0.00
8     11         44.94
10    12         47.20
9     10         47.20
11    13         54.14
12    14         60.01
13    15         64.80
14    16         65.87
15    19         78.27
16     9         85.07
17    17         86.14
18    18         86.15
19    20         96.14

Kết quả thứ tự điều độ trên trạm cắt:

    Jobs  Start time 2
3      3         44.94
1      8         47.20
5      5         47.20
8     11         73.74
6      6         78.27
4      1         80.80
0      4         95.20
2      7         97.74
15    19        111.74
10    12        128.80
17    17        130.41
12    14        136.14
7      2        145.34
14    16        157.60
13    15        160.14
9     10        164.01
18    18        184.14
11    13        196.00
16     9        224.80
19    20        248.80

In [20]:
import pandas as pd
import numpy as np
import heapq
import os
data = pd.read_excel(os.path.join(data_path, 'Mutation 1.xlsx'), sheet_name=0, index_col=0)
data = data.reset_index()
data['Start time 1'] = 0
data['Finish time 1'] = 0
data['Máy trải'] = 0
def schedule_jobs(df, machines):
    # Sắp xếp công việc theo thời gian tới hạn (due date) tăng dần
    sorted_jobs = data.sort_values(by='Jobs').values

    # Khởi tạo hàng đợi ưu tiên (min heap) để theo dõi thời gian hoàn thành trên từng máy
    machines_heap = [(0, machine_id) for machine_id in range(machines)]

    # Lập lịch công việc
    for job in sorted_jobs:
        processing_time, machine_id = heapq.heappop(machines_heap)
        start_time=0
        start_time = max(processing_time,start_time)  # Thời điểm bắt đầu là max(thời gian hoàn thành trước đó, thời gian bắt đầu công việc)
        finish_time = start_time + job[5]  # Thời gian hoàn thành công việc là thời gian bắt đầu + thời gian gia công
        df.at[int(job[0]) - 1, 'Start time 1'] = start_time
        df.at[int(job[0]) - 1, 'Finish time 1'] = finish_time
        df.at[int(job[0]) - 1, 'Máy trải'] = machine_id + 1
        heapq.heappush(machines_heap, (finish_time, machine_id))  # Cập nhật hàng đợi với thời gian hoàn thành mới

        #print(f"Công việc {int(job[0])} được lập lịch cho máy {machine_id + 1} từ {start_time} đến {finish_time}")
# Số lượng máy
số_máy_trải= 8

schedule_jobs(data, số_máy_trải)
data_stage2= data.sort_values(by='Máy trải')
display(data_stage2)
#Gán việc cho máy cắt
cutting_machine = []
for ind in data_stage2.index:
    cutting_machine.append((data_stage2['Máy trải'][ind] + 1) // 2)

data_stage2['Máy cắt'] = cutting_machine
data_stage2 = data_stage2.sort_values(by=['Finish time 1', 'Máy cắt'])
display(data_stage2)
#Tính thời gian cho trạm cắt
num_cutting_machine = 4
cur_cutting_time: list[float] = [data_stage2[data_stage2['Máy cắt'] == idx + 1].iloc[0, 8] for idx in range(num_cutting_machine)]

data_stage2['Start time 2'] = 0.0
data_stage2['Finish time 2'] = 0.0

for ind in data_stage2.index:
    cutting_idx = data_stage2.at[ind, 'Máy cắt'] - 1
    data_stage2.at[ind, 'Start time 2'] = max(cur_cutting_time[cutting_idx], data_stage2.at[ind, 'Finish time 1'])
    data_stage2.at[ind, 'Finish time 2'] = data_stage2['Start time 2'][ind] + data_stage2['P cắt'][ind]

    # Update current cutting time
    cur_cutting_time[cutting_idx] = data_stage2.at[ind, 'Finish time 2']
#Tính độ trễ
data_stage2['Độ trễ (phút)']= np.maximum(0, data_stage2['Finish time 2'] - (data_stage2['Due date (h)'] * 60))
print('BẢNG KẾT QUẢ ĐIỀU ĐỘ TRẠM MÁY CẮT')
display(data_stage2)

#Tính hàm mục tiêu
column_count = 'Độ trễ (phút)'
num_tardiness = (data_stage2[column_count] > 0).sum()
print('Số công việc bị trễ theo luật FCFS = ', num_tardiness)
sum_tardiness = data_stage2['Độ trễ (phút)'].sum() 
print('Hàm mục tiêu theo luật FCFS = ',sum_tardiness,'phút')

# Thứ tự điều độ tại từng trạm
data_stage2
job_order_start_time_1 = data_stage2.sort_values(by='Start time 1')
print("\nKết quả thứ tự điều độ trên trạm trải:")
display(job_order_start_time_1[['Jobs', 'Start time 1']])

job_order_start_time_2 = data_stage2.sort_values(by='Start time 2')
print("\nKết quả thứ tự điều độ trên trạm cắt:")
display(job_order_start_time_2[['Jobs', 'Start time 2']])

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải
0,9,20230720024145,5,113,2,15.07,24.0,0.00,86.14,1
17,13,20230720024149,6,196,9,26.14,28.8,86.14,130.41,1
9,12,20230720024148,6,315,4,42.00,28.8,47.20,140.27,2
1,16,20230720024152,8,251,2,33.47,38.4,0.00,47.20,2
13,8,20230720024144,10,856,7,114.14,48.0,64.80,101.47,3
2,14,20230720024150,5,275,2,36.67,24.0,0.00,64.80,3
3,4,20230720024140,5,337,2,44.94,24.0,0.00,44.94,4
12,1,20230720024137,10,646,4,86.14,48.0,60.01,86.15,4
8,2,20230720024138,7,354,2,47.20,33.6,44.94,60.01,4
18,15,20230720024151,5,144,9,19.20,24.0,86.15,182.15,4
11,18,20230720024154,9,332,4,44.27,43.2,54.14,96.14,5
4,5,20230720024141,7,406,2,54.14,33.6,0.00,54.14,5
19,17,20230720024153,7,225,9,30.00,33.6,96.14,168.54,5
5,20,20230720024156,9,543,2,72.40,43.2,0.00,47.20,6
14,11,20230720024147,5,140,7,18.67,24.0,65.87,85.07,6
16,19,20230720024155,7,720,9,96.00,33.6,85.07,115.07,6
10,3,20230720024139,6,486,4,64.80,28.8,47.20,65.87,6
6,10,20230720024146,10,698,2,93.07,48.0,0.00,78.27,7
15,6,20230720024142,5,354,7,47.20,24.0,78.27,111.74,7
7,7,20230720024143,8,587,2,78.27,38.4,0.00,114.14,8

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải,Máy cắt
3,4,20230720024140,5,337,2,44.94,24.0,0.00,44.94,4,2
1,16,20230720024152,8,251,2,33.47,38.4,0.00,47.20,2,1
5,20,20230720024156,9,543,2,72.40,43.2,0.00,47.20,6,3
4,5,20230720024141,7,406,2,54.14,33.6,0.00,54.14,5,3
8,2,20230720024138,7,354,2,47.20,33.6,44.94,60.01,4,2
2,14,20230720024150,5,275,2,36.67,24.0,0.00,64.80,3,2
10,3,20230720024139,6,486,4,64.80,28.8,47.20,65.87,6,3
6,10,20230720024146,10,698,2,93.07,48.0,0.00,78.27,7,4
14,11,20230720024147,5,140,7,18.67,24.0,65.87,85.07,6,3
0,9,20230720024145,5,113,2,15.07,24.0,0.00,86.14,1,1
12,1,20230720024137,10,646,4,86.14,48.0,60.01,86.15,4,2
11,18,20230720024154,9,332,4,44.27,43.2,54.14,96.14,5,3
13,8,20230720024144,10,856,7,114.14,48.0,64.80,101.47,3,2
15,6,20230720024142,5,354,7,47.20,24.0,78.27,111.74,7,4
7,7,20230720024143,8,587,2,78.27,38.4,0.00,114.14,8,4
16,19,20230720024155,7,720,9,96.00,33.6,85.07,115.07,6,3
17,13,20230720024149,6,196,9,26.14,28.8,86.14,130.41,1,1
9,12,20230720024148,6,315,4,42.00,28.8,47.20,140.27,2,1
19,17,20230720024153,7,225,9,30.00,33.6,96.14,168.54,5,3
18,15,20230720024151,5,144,9,19.20,24.0,86.15,182.15,4,2

BẢNG KẾT QUẢ ĐIỀU ĐỘ TRẠM MÁY CẮT

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải,Máy cắt,Start time 2,Finish time 2,Độ trễ (phút)
3,4,20230720024140,5,337,2,44.94,24.0,0.00,44.94,4,2,44.94,68.94,0.00
1,16,20230720024152,8,251,2,33.47,38.4,0.00,47.20,2,1,47.20,85.60,0.00
5,20,20230720024156,9,543,2,72.40,43.2,0.00,47.20,6,3,47.20,90.40,0.00
4,5,20230720024141,7,406,2,54.14,33.6,0.00,54.14,5,3,90.40,124.00,4.00
8,2,20230720024138,7,354,2,47.20,33.6,44.94,60.01,4,2,68.94,102.54,0.00
2,14,20230720024150,5,275,2,36.67,24.0,0.00,64.80,3,2,102.54,126.54,6.54
10,3,20230720024139,6,486,4,64.80,28.8,47.20,65.87,6,3,124.00,152.80,0.00
6,10,20230720024146,10,698,2,93.07,48.0,0.00,78.27,7,4,78.27,126.27,6.27
14,11,20230720024147,5,140,7,18.67,24.0,65.87,85.07,6,3,152.80,176.80,0.00
0,9,20230720024145,5,113,2,15.07,24.0,0.00,86.14,1,1,86.14,110.14,0.00
12,1,20230720024137,10,646,4,86.14,48.0,60.01,86.15,4,2,126.54,174.54,0.00
11,18,20230720024154,9,332,4,44.27,43.2,54.14,96.14,5,3,176.80,220.00,0.00
13,8,20230720024144,10,856,7,114.14,48.0,64.80,101.47,3,2,174.54,222.54,0.00
15,6,20230720024142,5,354,7,47.20,24.0,78.27,111.74,7,4,126.27,150.27,0.00
7,7,20230720024143,8,587,2,78.27,38.4,0.00,114.14,8,4,150.27,188.67,68.67
16,19,20230720024155,7,720,9,96.00,33.6,85.07,115.07,6,3,220.00,253.60,0.00
17,13,20230720024149,6,196,9,26.14,28.8,86.14,130.41,1,1,130.41,159.21,0.00
9,12,20230720024148,6,315,4,42.00,28.8,47.20,140.27,2,1,159.21,188.01,0.00
19,17,20230720024153,7,225,9,30.00,33.6,96.14,168.54,5,3,253.60,287.20,0.00
18,15,20230720024151,5,144,9,19.20,24.0,86.15,182.15,4,2,222.54,246.54,0.00

Số công việc bị trễ theo luật FCFS =  4
Hàm mục tiêu theo luật FCFS =  85.47999999999998 phút

Kết quả thứ tự điều độ trên trạm trải:

    Jobs  Start time 1
3      4          0.00
7      7          0.00
6     10          0.00
2     14          0.00
0      9          0.00
4      5          0.00
5     20          0.00
1     16          0.00
8      2         44.94
10     3         47.20
9     12         47.20
11    18         54.14
12     1         60.01
13     8         64.80
14    11         65.87
15     6         78.27
16    19         85.07
17    13         86.14
18    15         86.15
19    17         96.14

Kết quả thứ tự điều độ trên trạm cắt:

    Jobs  Start time 2
3      4         44.94
1     16         47.20
5     20         47.20
8      2         68.94
6     10         78.27
0      9         86.14
4      5         90.40
2     14        102.54
10     3        124.00
15     6        126.27
12     1        126.54
17    13        130.41
7      7        150.27
14    11        152.80
9     12        159.21
13     8        174.54
11    18        176.80
16    19        220.00
18    15        222.54
19    17        253.60

In [21]:
import pandas as pd
import numpy as np
import heapq
import os
data = pd.read_excel(os.path.join(data_path, 'Mutation 2.xlsx'), sheet_name=0, index_col=0)
data = data.reset_index()
data['Start time 1'] = 0
data['Finish time 1'] = 0
data['Máy trải'] = 0
def schedule_jobs(df, machines):
    # Sắp xếp công việc theo thời gian tới hạn (due date) tăng dần
    sorted_jobs = data.sort_values(by='Jobs').values

    # Khởi tạo hàng đợi ưu tiên (min heap) để theo dõi thời gian hoàn thành trên từng máy
    machines_heap = [(0, machine_id) for machine_id in range(machines)]

    # Lập lịch công việc
    for job in sorted_jobs:
        processing_time, machine_id = heapq.heappop(machines_heap)
        start_time=0
        start_time = max(processing_time,start_time)  # Thời điểm bắt đầu là max(thời gian hoàn thành trước đó, thời gian bắt đầu công việc)
        finish_time = start_time + job[5]  # Thời gian hoàn thành công việc là thời gian bắt đầu + thời gian gia công
        df.at[int(job[0]) - 1, 'Start time 1'] = start_time
        df.at[int(job[0]) - 1, 'Finish time 1'] = finish_time
        df.at[int(job[0]) - 1, 'Máy trải'] = machine_id + 1
        heapq.heappush(machines_heap, (finish_time, machine_id))  # Cập nhật hàng đợi với thời gian hoàn thành mới

        #print(f"Công việc {int(job[0])} được lập lịch cho máy {machine_id + 1} từ {start_time} đến {finish_time}")
# Số lượng máy
số_máy_trải= 8

schedule_jobs(data, số_máy_trải)
data_stage2= data.sort_values(by='Máy trải')
display(data_stage2)
#Gán việc cho máy cắt
cutting_machine = []
for ind in data_stage2.index:
    cutting_machine.append((data_stage2['Máy trải'][ind] + 1) // 2)

data_stage2['Máy cắt'] = cutting_machine
data_stage2 = data_stage2.sort_values(by=['Finish time 1', 'Máy cắt'])
display(data_stage2)
#Tính thời gian cho trạm cắt
num_cutting_machine = 4
cur_cutting_time: list[float] = [data_stage2[data_stage2['Máy cắt'] == idx + 1].iloc[0, 8] for idx in range(num_cutting_machine)]

data_stage2['Start time 2'] = 0.0
data_stage2['Finish time 2'] = 0.0

for ind in data_stage2.index:
    cutting_idx = data_stage2.at[ind, 'Máy cắt'] - 1
    data_stage2.at[ind, 'Start time 2'] = max(cur_cutting_time[cutting_idx], data_stage2.at[ind, 'Finish time 1'])
    data_stage2.at[ind, 'Finish time 2'] = data_stage2['Start time 2'][ind] + data_stage2['P cắt'][ind]

    # Update current cutting time
    cur_cutting_time[cutting_idx] = data_stage2.at[ind, 'Finish time 2']
#Tính độ trễ
data_stage2['Độ trễ (phút)']= np.maximum(0, data_stage2['Finish time 2'] - (data_stage2['Due date (h)'] * 60))
print('BẢNG KẾT QUẢ ĐIỀU ĐỘ TRẠM MÁY CẮT')
display(data_stage2)

#Tính hàm mục tiêu
column_count = 'Độ trễ (phút)'
num_tardiness = (data_stage2[column_count] > 0).sum()
print('Số công việc bị trễ theo luật FCFS = ', num_tardiness)
sum_tardiness = data_stage2['Độ trễ (phút)'].sum() 
print('Hàm mục tiêu theo luật FCFS = ',sum_tardiness,'phút')

# Thứ tự điều độ tại từng trạm
data_stage2
job_order_start_time_1 = data_stage2.sort_values(by='Start time 1')
print("\nKết quả thứ tự điều độ trên trạm trải:")
display(job_order_start_time_1[['Jobs', 'Start time 1']])

job_order_start_time_2 = data_stage2.sort_values(by='Start time 2')
print("\nKết quả thứ tự điều độ trên trạm cắt:")
display(job_order_start_time_2[['Jobs', 'Start time 2']])

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải
0,15,20230720024151,5,144,9,19.20,24.0,0.00,86.14,1
17,17,20230720024153,7,225,9,30.00,33.6,86.14,130.41,1
9,7,20230720024143,8,587,2,78.27,38.4,47.20,140.27,2
1,13,20230720024149,6,196,9,26.14,28.8,0.00,47.20,2
13,14,20230720024150,5,275,2,36.67,24.0,64.80,101.47,3
2,12,20230720024148,6,315,4,42.00,28.8,0.00,64.80,3
3,18,20230720024154,9,332,4,44.27,43.2,0.00,44.94,4
12,6,20230720024142,5,354,7,47.20,24.0,60.01,86.15,4
8,9,20230720024145,5,113,2,15.07,24.0,44.94,60.01,4
18,16,20230720024152,8,251,2,33.47,38.4,86.15,182.15,4
11,11,20230720024147,5,140,7,18.67,24.0,54.14,96.14,5
4,4,20230720024140,5,337,2,44.94,24.0,0.00,54.14,5
19,10,20230720024146,10,698,2,93.07,48.0,96.14,168.54,5
5,19,20230720024155,7,720,9,96.00,33.6,0.00,47.20,6
14,3,20230720024139,6,486,4,64.80,28.8,65.87,85.07,6
16,2,20230720024138,7,354,2,47.20,33.6,85.07,115.07,6
10,5,20230720024141,7,406,2,54.14,33.6,47.20,65.87,6
6,1,20230720024137,10,646,4,86.14,48.0,0.00,78.27,7
15,20,20230720024156,9,543,2,72.40,43.2,78.27,111.74,7
7,8,20230720024144,10,856,7,114.14,48.0,0.00,114.14,8

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải,Máy cắt
3,18,20230720024154,9,332,4,44.27,43.2,0.00,44.94,4,2
1,13,20230720024149,6,196,9,26.14,28.8,0.00,47.20,2,1
5,19,20230720024155,7,720,9,96.00,33.6,0.00,47.20,6,3
4,4,20230720024140,5,337,2,44.94,24.0,0.00,54.14,5,3
8,9,20230720024145,5,113,2,15.07,24.0,44.94,60.01,4,2
2,12,20230720024148,6,315,4,42.00,28.8,0.00,64.80,3,2
10,5,20230720024141,7,406,2,54.14,33.6,47.20,65.87,6,3
6,1,20230720024137,10,646,4,86.14,48.0,0.00,78.27,7,4
14,3,20230720024139,6,486,4,64.80,28.8,65.87,85.07,6,3
0,15,20230720024151,5,144,9,19.20,24.0,0.00,86.14,1,1
12,6,20230720024142,5,354,7,47.20,24.0,60.01,86.15,4,2
11,11,20230720024147,5,140,7,18.67,24.0,54.14,96.14,5,3
13,14,20230720024150,5,275,2,36.67,24.0,64.80,101.47,3,2
15,20,20230720024156,9,543,2,72.40,43.2,78.27,111.74,7,4
7,8,20230720024144,10,856,7,114.14,48.0,0.00,114.14,8,4
16,2,20230720024138,7,354,2,47.20,33.6,85.07,115.07,6,3
17,17,20230720024153,7,225,9,30.00,33.6,86.14,130.41,1,1
9,7,20230720024143,8,587,2,78.27,38.4,47.20,140.27,2,1
19,10,20230720024146,10,698,2,93.07,48.0,96.14,168.54,5,3
18,16,20230720024152,8,251,2,33.47,38.4,86.15,182.15,4,2

BẢNG KẾT QUẢ ĐIỀU ĐỘ TRẠM MÁY CẮT

,Jobs,Stockout Num,Total rolls,Total yards,Due date (h),P trải,P cắt,Start time 1,Finish time 1,Máy trải,Máy cắt,Start time 2,Finish time 2,Độ trễ (phút)
3,18,20230720024154,9,332,4,44.27,43.2,0.00,44.94,4,2,44.94,88.14,0.00
1,13,20230720024149,6,196,9,26.14,28.8,0.00,47.20,2,1,47.20,76.00,0.00
5,19,20230720024155,7,720,9,96.00,33.6,0.00,47.20,6,3,47.20,80.80,0.00
4,4,20230720024140,5,337,2,44.94,24.0,0.00,54.14,5,3,80.80,104.80,0.00
8,9,20230720024145,5,113,2,15.07,24.0,44.94,60.01,4,2,88.14,112.14,0.00
2,12,20230720024148,6,315,4,42.00,28.8,0.00,64.80,3,2,112.14,140.94,0.00
10,5,20230720024141,7,406,2,54.14,33.6,47.20,65.87,6,3,104.80,138.40,18.40
6,1,20230720024137,10,646,4,86.14,48.0,0.00,78.27,7,4,78.27,126.27,0.00
14,3,20230720024139,6,486,4,64.80,28.8,65.87,85.07,6,3,138.40,167.20,0.00
0,15,20230720024151,5,144,9,19.20,24.0,0.00,86.14,1,1,86.14,110.14,0.00
12,6,20230720024142,5,354,7,47.20,24.0,60.01,86.15,4,2,140.94,164.94,0.00
11,11,20230720024147,5,140,7,18.67,24.0,54.14,96.14,5,3,167.20,191.20,0.00
13,14,20230720024150,5,275,2,36.67,24.0,64.80,101.47,3,2,164.94,188.94,68.94
15,20,20230720024156,9,543,2,72.40,43.2,78.27,111.74,7,4,126.27,169.47,49.47
7,8,20230720024144,10,856,7,114.14,48.0,0.00,114.14,8,4,169.47,217.47,0.00
16,2,20230720024138,7,354,2,47.20,33.6,85.07,115.07,6,3,191.20,224.80,104.80
17,17,20230720024153,7,225,9,30.00,33.6,86.14,130.41,1,1,130.41,164.01,0.00
9,7,20230720024143,8,587,2,78.27,38.4,47.20,140.27,2,1,164.01,202.41,82.41
19,10,20230720024146,10,698,2,93.07,48.0,96.14,168.54,5,3,224.80,272.80,152.80
18,16,20230720024152,8,251,2,33.47,38.4,86.15,182.15,4,2,188.94,227.34,107.34

Số công việc bị trễ theo luật FCFS =  7
Hàm mục tiêu theo luật FCFS =  584.16 phút

Kết quả thứ tự điều độ trên trạm trải:

    Jobs  Start time 1
3     18          0.00
7      8          0.00
6      1          0.00
2     12          0.00
0     15          0.00
4      4          0.00
5     19          0.00
1     13          0.00
8      9         44.94
10     5         47.20
9      7         47.20
11    11         54.14
12     6         60.01
13    14         64.80
14     3         65.87
15    20         78.27
16     2         85.07
17    17         86.14
18    16         86.15
19    10         96.14

Kết quả thứ tự điều độ trên trạm cắt:

    Jobs  Start time 2
3     18         44.94
1     13         47.20
5     19         47.20
6      1         78.27
4      4         80.80
0     15         86.14
8      9         88.14
10     5        104.80
2     12        112.14
15    20        126.27
17    17        130.41
14     3        138.40
12     6        140.94
9      7        164.01
13    14        164.94
11    11        167.20
7      8        169.47
18    16        188.94
16     2        191.20
19    10        224.80

CODE GA

In [37]:
import pandas as pd
import numpy as np
import heapq
import random

# Hàm tạo NST từ luật EDD
def create_nst_EDD():
    data = pd.read_excel(os.path.join(data_path, 'Data.xlsx'), sheet_name=0, index_col=0)
    data = data.reset_index()
    data['Start time 1'] = 0
    data['Finish time 1'] = 0
    data['Máy trải'] = 0
    data['Máy cắt'] = 0
    data['Start time 2'] = 0.0
    data['Finish time 2'] = 0.0
    data['Độ trễ (phút)'] = 0

    # Sắp xếp công việc theo thời gian tới hạn (due date) tăng dần
    sorted_jobs = data.sort_values(by='Due date (h)').values

    # Khởi tạo hàng đợi ưu tiên (min heap) để theo dõi thời gian hoàn thành trên từng máy
    machines_heap = [(0, machine_id) for machine_id in range(8)]

    # Lập lịch công việc
    for job in sorted_jobs:
        processing_time, machine_id = heapq.heappop(machines_heap)
        start_time = max(processing_time, 0)
        finish_time = start_time + job[5]
        data.at[int(job[0]) - 1, 'Start time 1'] = start_time
        data.at[int(job[0]) - 1, 'Finish time 1'] = finish_time
        data.at[int(job[0]) - 1, 'Máy trải'] = machine_id + 1
        heapq.heappush(machines_heap, (finish_time, machine_id))

    # Gán việc cho máy cắt
    cutting_machine = []
    for ind in data.index:
        cutting_machine.append((data['Máy trải'][ind] + 1) // 2)
    data['Máy cắt'] = cutting_machine
    data = data.sort_values(by=['Finish time 1', 'Máy cắt'])

    # Tính thời gian cho trạm cắt
    num_cutting_machine = 4
    cur_cutting_time = [data[data['Máy cắt'] == idx + 1].iloc[0, 8] for idx in range(num_cutting_machine)]

    for ind in data.index:
        cutting_idx = data.at[ind, 'Máy cắt'] - 1
        data.at[ind, 'Start time 2'] = max(cur_cutting_time[cutting_idx], data.at[ind, 'Finish time 1'])
        data.at[ind, 'Finish time 2'] = data['Start time 2'][ind] + data['P cắt'][ind]
        data.at[ind, 'Độ trễ (phút)'] = max(0, data.at[ind, 'Finish time 2'] - (data.at[ind, 'Due date (h)'] * 60))
        cur_cutting_time[cutting_idx] = data.at[ind, 'Finish time 2']

    return data
# Hàm tạo NST từ luật FCFS
def create_nst_FCFS():
    data = pd.read_excel(os.path.join(data_path, 'Data.xlsx'), sheet_name=0, index_col=0)
    data = data.reset_index()
    data['Start time 1'] = 0
    data['Finish time 1'] = 0
    data['Máy trải'] = 0
    data['Máy cắt'] = 0
    data['Start time 2'] = 0.0
    data['Finish time 2'] = 0.0
    data['Độ trễ (phút)'] = 0

    # Sắp xếp công việc theo FCFS
    sorted_jobs = data.sort_values(by='Jobs').values

    # Khởi tạo hàng đợi ưu tiên (min heap) để theo dõi thời gian hoàn thành trên từng máy
    machines_heap = [(0, machine_id) for machine_id in range(8)]

    # Lập lịch công việc
    for job in sorted_jobs:
        processing_time, machine_id = heapq.heappop(machines_heap)
        start_time = max(processing_time, 0)
        finish_time = start_time + job[5]
        data.at[int(job[0]) - 1, 'Start time 1'] = start_time
        data.at[int(job[0]) - 1, 'Finish time 1'] = finish_time
        data.at[int(job[0]) - 1, 'Máy trải'] = machine_id + 1
        heapq.heappush(machines_heap, (finish_time, machine_id))

    # Gán việc cho máy cắt
    cutting_machine = []
    for ind in data.index:
        cutting_machine.append((data['Máy trải'][ind] + 1) // 2)
    data['Máy cắt'] = cutting_machine
    data = data.sort_values(by=['Finish time 1', 'Máy cắt'])

    # Tính thời gian cho trạm cắt
    num_cutting_machine = 4
    cur_cutting_time = [data[data['Máy cắt'] == idx + 1].iloc[0, 8] for idx in range(num_cutting_machine)]

    for ind in data.index:
        cutting_idx = data.at[ind, 'Máy cắt'] - 1
        data.at[ind, 'Start time 2'] = max(cur_cutting_time[cutting_idx], data.at[ind, 'Finish time 1'])
        data.at[ind, 'Finish time 2'] = data['Start time 2'][ind] + data['P cắt'][ind]
        data.at[ind, 'Độ trễ (phút)'] = max(0, data.at[ind, 'Finish time 2'] - (data.at[ind, 'Due date (h)'] * 60))
        cur_cutting_time[cutting_idx] = data.at[ind, 'Finish time 2']

    return data
# Hàm tạo NST từ luật SPT
def create_nst_SPT():
    data = pd.read_excel('./Data.xlsx', sheet_name=0, index_col=0)
    data = data.reset_index()
    data['Start time 1'] = 0
    data['Finish time 1'] = 0
    data['Máy trải'] = 0
    data['Máy cắt'] = 0
    data['Start time 2'] = 0.0
    data['Finish time 2'] = 0.0
    data['Độ trễ (phút)'] = 0

    # Sắp xếp công việc theo thời gian P trải tăng dần
    sorted_jobs = data.sort_values(by='P trải').values

    # Khởi tạo hàng đợi ưu tiên (min heap) để theo dõi thời gian hoàn thành trên từng máy
    machines_heap = [(0, machine_id) for machine_id in range(8)]

    # Lập lịch công việc
    for job in sorted_jobs:
        processing_time, machine_id = heapq.heappop(machines_heap)
        start_time = max(processing_time, 0)
        finish_time = start_time + job[5]
        data.at[int(job[0]) - 1, 'Start time 1'] = start_time
        data.at[int(job[0]) - 1, 'Finish time 1'] = finish_time
        data.at[int(job[0]) - 1, 'Máy trải'] = machine_id + 1
        heapq.heappush(machines_heap, (finish_time, machine_id))

    # Gán việc cho máy cắt
    cutting_machine = []
    for ind in data.index:
        cutting_machine.append((data['Máy trải'][ind] + 1) // 2)
    data['Máy cắt'] = cutting_machine
    data = data.sort_values(by=['Finish time 1', 'Máy cắt'])

    # Tính thời gian cho trạm cắt
    num_cutting_machine = 4
    cur_cutting_time = [data[data['Máy cắt'] == idx + 1].iloc[0, 8] for idx in range(num_cutting_machine)]

    for ind in data.index:
        cutting_idx = data.at[ind, 'Máy cắt'] - 1
        data.at[ind, 'Start time 2'] = max(cur_cutting_time[cutting_idx], data.at[ind, 'Finish time 1'])
        data.at[ind, 'Finish time 2'] = data['Start time 2'][ind] + data['P cắt'][ind]
        data.at[ind, 'Độ trễ (phút)'] = max(0, data.at[ind, 'Finish time 2'] - (data.at[ind, 'Due date (h)'] * 60))
        cur_cutting_time[cutting_idx] = data.at[ind, 'Finish time 2']

    return data
# Hàm tạo NST từ luật LPT
def create_nst_LPT():
    data = pd.read_excel('./Data.xlsx', sheet_name=0, index_col=0)
    data = data.reset_index()
    data['Start time 1'] = 0
    data['Finish time 1'] = 0
    data['Máy trải'] = 0
    data['Máy cắt'] = 0
    data['Start time 2'] = 0.0
    data['Finish time 2'] = 0.0
    data['Độ trễ (phút)'] = 0

    # Sắp xếp công việc theo thời gian P trải giảm dần
    sorted_jobs = data.sort_values(by='P trải', ascending=False).values

    # Khởi tạo hàng đợi ưu tiên (min heap) để theo dõi thời gian hoàn thành trên từng máy
    machines_heap = [(0, machine_id) for machine_id in range(8)]

    # Lập lịch công việc
    for job in sorted_jobs:
        processing_time, machine_id = heapq.heappop(machines_heap)
        start_time = max(processing_time, 0)
        finish_time = start_time + job[5]
        data.at[int(job[0]) - 1, 'Start time 1'] = start_time
        data.at[int(job[0]) - 1, 'Finish time 1'] = finish_time
        data.at[int(job[0]) - 1, 'Máy trải'] = machine_id + 1
        heapq.heappush(machines_heap, (finish_time, machine_id))

    # Gán việc cho máy cắt
    cutting_machine = []
    for ind in data.index:
        cutting_machine.append((data['Máy trải'][ind] + 1) // 2)
    data['Máy cắt'] = cutting_machine
    data = data.sort_values(by=['Finish time 1', 'Máy cắt'])

    # Tính thời gian cho trạm cắt
    num_cutting_machine = 4
    cur_cutting_time = [data[data['Máy cắt'] == idx + 1].iloc[0, 8] for idx in range(num_cutting_machine)]

    for ind in data.index:
        cutting_idx = data.at[ind, 'Máy cắt'] - 1
        data.at[ind, 'Start time 2'] = max(cur_cutting_time[cutting_idx], data.at[ind, 'Finish time 1'])
        data.at[ind, 'Finish time 2'] = data['Start time 2'][ind] + data['P cắt'][ind]
        data.at[ind, 'Độ trễ (phút)'] = max(0, data.at[ind, 'Finish time 2'] - (data.at[ind, 'Due date (h)'] * 60))
        cur_cutting_time[cutting_idx] = data.at[ind, 'Finish time 2']

    return data

# Hàm tạo NST ngẫu nhiên
def create_random_nst():
    data = pd.read_excel('./Data.xlsx', sheet_name=0, index_col=0)
    data = data.reset_index()
    data['Start time 1'] = 0
    data['Finish time 1'] = 0
    data['Máy trải'] = 0
    data['Máy cắt'] = 0
    data['Start time 2'] = 0.0
    data['Finish time 2'] = 0.0
    data['Độ trễ (phút)'] = 0

    # Sắp xếp công việc ngẫu nhiên
    randomly_sorted_jobs = data.sample(frac=1).values

    machines_heap = [(0, machine_id) for machine_id in range(8)]

    for job in randomly_sorted_jobs:
        processing_time, machine_id = heapq.heappop(machines_heap)
        start_time = max(processing_time, 0)
        finish_time = start_time + job[5]
        data.at[int(job[0]) - 1, 'Start time 1'] = start_time
        data.at[int(job[0]) - 1, 'Finish time 1'] = finish_time
        data.at[int(job[0]) - 1, 'Máy trải'] = machine_id + 1
        heapq.heappush(machines_heap, (finish_time, machine_id))

    cutting_machine = []
    for ind in data.index:
        cutting_machine.append((data['Máy trải'][ind] + 1) // 2)
    data['Máy cắt'] = cutting_machine
    data = data.sort_values(by=['Finish time 1', 'Máy cắt'])

    num_cutting_machine = 4
    cur_cutting_time = [data[data['Máy cắt'] == idx + 1].iloc[0, 8] for idx in range(num_cutting_machine)]

    for ind in data.index:
        cutting_idx = data.at[ind, 'Máy cắt'] - 1
        data.at[ind, 'Start time 2'] = max(cur_cutting_time[cutting_idx], data.at[ind, 'Finish time 1'])
        data.at[ind, 'Finish time 2'] = data['Start time 2'][ind] + data['P cắt'][ind]
        data.at[ind, 'Độ trễ (phút)'] = max(0, data.at[ind, 'Finish time 2'] - (data.at[ind, 'Due date (h)'] * 60))
        cur_cutting_time[cutting_idx] = data.at[ind, 'Finish time 2']

    return data

# Hàm tạo quần thể ban đầu
def create_initial_population(population_size):
    # Khởi tạo quần thể
    population = []
    population.extend([create_nst_EDD(), create_nst_EDD(), create_nst_EDD(), create_nst_EDD()])
    # Thêm 6 NST tạo ngẫu nhiên
    for _ in range(6):
        population.append(create_random_nst())
    return population
# Hàm tính Hàm mục tiêu của mỗi NST
def objective(nst):
    data_stage2 = nst.copy()
    column_count = 'Độ trễ (phút)'
    num_tardiness = (data_stage2[column_count] > 0).sum()
    sum_tardiness = data_stage2['Độ trễ (phút)'].sum()
    return sum_tardiness
# Hàm tính độ thích nghi của mỗi NST
def fitness(nst, max_objective):
    sum_tardiness = nst['Độ trễ (phút)'].sum()
    return max_objective - sum_tardiness
# Hàm chọn lọc theo phương pháp Roulette Wheel
def roulette_wheel_selection(population, num_parents):
    max_objective = max([objective(nst) for nst in population])
    fitness_values = [fitness(nst, max_objective) for nst in population]
    total_fitness = sum(fitness_values)
    probabilities = [fit / total_fitness for fit in fitness_values]
    probabilities_prefix:list[float] = []
    for i in range(len(probabilities)):
        probabilities_prefix.append(probabilities[i] + (probabilities_prefix[-1] if i != 0 else 0))
    
    random_list = [random.random() for _ in range(len(population))]
    chosen_parents = [population[i] for i in np.searchsorted(probabilities_prefix, random_list, side='right')]
    print(chosen_parents)
    return chosen_parents

# Hàm lai chéo Precedence Operation Crossover (POX)
def precedence_operation_crossover(parent1, parent2):
    # (Xác định cắt ở mức độ gen hoặc cụm gen, tùy thuộc vào bài toán cụ thể)
    crossover_point = random.randint(0, len(parent1) - 20)

    child1 = parent1.copy()
    child2 = parent2.copy()

    # Áp dụng POX
    child1[:crossover_point] = parent2[:crossover_point]
    child2[:crossover_point] = parent1[:crossover_point]

    return child1, child2

# Hàm đột biến Reciprocal Exchange Mutation (REM)
def reciprocal_exchange_mutation(nst):
    mutation_point_1 = random.randint(1, len(nst) // 2)
    mutation_point_2 = random.randint(0, mutation_point_1)

    mutated_nst = nst.copy()

    # Áp dụng REM
    mutated_nst[mutation_point_1], mutated_nst[mutation_point_2] = mutated_nst[mutation_point_2].copy(), mutated_nst[mutation_point_1].copy()

    return mutated_nst

# Hàm thay thế theo Acceptance Threshold
def acceptance_threshold_replacement(population, offspring):
    # Số lượng NST trong quần thể
    P = len(population)
    #Ngưỡng chấp nhận là NST thứ K
    k = P // 2

    # Tính hàm mục tiêu cho từng NST con
    offspring_objective = [objective(nst) for nst in offspring]# list[int]
    
    # Sắp xếp NST con theo hàm mục tiêu giảm dần
    sorted_offspring_indices = np.argsort(offspring_objective)[::-1]

    # Chọn NST thứ k trong quần thể hiện tại để so sánh
    kth_population_objective = objective(population[k - 1])

    # Thêm NST con vào quần thể nếu hàm mục tiêu của NST con tốt hơn NST thứ k
    for i, nst_index in enumerate(sorted_offspring_indices):
        if objective(offspring[nst_index]) < kth_population_objective:
            population[k - 1] = offspring[nst_index]
            break
    #Loại bỏ NST có hàm mục tiêu xấu nhất
    nst_remove = np.argmax([objective(nst) for nst in population])
    population.pop(nst_remove )
    return population


# Hàm chạy thuật toán di truyền
def genetic_algorithm(num_generations=50, population_size=10, crossover_probability=0.8, mutation_probability=0.2):
    # Tạo quần thể ban đầu
    population = create_initial_population(population_size)

    for generation in range(num_generations):
        # Chọn lọc
        parents = roulette_wheel_selection(population, num_parents=population_size)



        # Lai chéo
        offspring = []
        for parent1, parent2 in zip(parents[::2], parents[1::2]):
            parent1, parent2 = parent1.tolist(), parent2.tolist()
            print(parent1)
            if random.random() < crossover_probability:
                child1, child2 = precedence_operation_crossover(parent1, parent2)
                offspring.extend([child1, child2])
            else:
                offspring.extend([parent1, parent2])
        
        
        # Đột biến
        for i in range(len(offspring)):
            if random.random() < mutation_probability:
                offspring[i] = reciprocal_exchange_mutation(offspring[i])
        print('abc')
        # Thay thế
        population = acceptance_threshold_replacement(population, offspring)

        # In thông tin về hàm mục tiêu của NST tốt nhất trong thế hệ hiện tại
        best_nst = min(population, key=objective)
        best_objective = objective(best_nst)
        print(f"Generation {generation + 1}, Best Objective: {best_objective}")

    # Trả về NST tốt nhất sau khi chạy xong thuật toán
    return min(population, key=objective)


# Gọi hàm chạy thuật toán di truyền
genetic_algorithm()

[    Jobs    Stockout Num  Total rolls  Total yards  Due date (h)  P trải
8      9  20230720024145            5          113             2   15.07  \
15    16  20230720024152            8          251             2   33.47
13    14  20230720024150            5          275             2   36.67
3      4  20230720024140            5          337             2   44.94
4      5  20230720024141            7          406             2   54.14
1      2  20230720024138            7          354             2   47.20
19    20  20230720024156            9          543             2   72.40
11    12  20230720024148            6          315             4   42.00
6      7  20230720024143            8          587             2   78.27
17    18  20230720024154            9          332             4   44.27
10    11  20230720024147            5          140             7   18.67
9     10  20230720024146           10          698             2   93.07
2      3  20230720024139            6          486             4   64.80
14    15  20230720024151            5          144             9   19.20
12    13  20230720024149            6          196             9   26.14
5      6  20230720024142            5          354             7   47.20
16    17  20230720024153            7          225             9   30.00
0      1  20230720024137           10          646             4   86.14
18    19  20230720024155            7          720             9   96.00
7      8  20230720024144           10          856             7  114.14

    P cắt  Start time 1  Finish time 1  Máy trải  Máy cắt  Start time 2
8    24.0          0.00          15.07         4        2         15.07  \
15   38.4          0.00          33.47         2        1         33.47
13   24.0          0.00          36.67         3        2         39.07
3    24.0          0.00          44.94         8        4         44.94
4    33.6          0.00          54.14         7        4         68.94
1    33.6         15.07          62.27         4        2         63.07
19   43.2          0.00          72.40         6        3         72.40
11   28.8         33.47          75.47         2        1         75.47
6    38.4          0.00          78.27         5        3        115.60
17   43.2         44.94          89.21         8        4        102.54
10   24.0         72.40          91.07         6        3        154.00
9    48.0          0.00          93.07         1        1        104.27
2    28.8         36.67         101.47         3        2        101.47
14   24.0         91.07         110.27         6        3        178.00
12   28.8         89.21         115.35         8        4        145.74
5    24.0         75.47         122.67         2        1        152.27
16   33.6         93.07         123.07         1        1        176.27
0    48.0         54.14         140.28         7        4        174.54
18   33.6         78.27         174.27         5        3        202.00
7    48.0         62.27         176.41         4        2        176.41

    Finish time 2  Độ trễ (phút)
8           39.07           0.00
15          71.87           0.00
13          63.07           0.00
3           68.94           0.00
4          102.54           0.00
1           96.67           0.00
19         115.60           0.00
11         104.27           0.00
6          154.00          34.00
17         145.74           0.00
10         178.00           0.00
9          152.27          32.27
2          130.27           0.00
14         202.00           0.00
12         174.54           0.00
5          176.27           0.00
16         209.87           0.00
0          222.54           0.00
18         235.60           0.00
7          224.41           0.00  ,     Jobs    Stockout Num  Total rolls  Total yards  Due date (h)  P trải
8      9  20230720024145            5          113             2   15.07  \
15    16  20230720024152            8          251             2   33.47
13    14  20230720024150            5          275             2   36.67
3      4  20230720024140            5          337             2   44.94
4      5  20230720024141            7          406             2   54.14
1      2  20230720024138            7          354             2   47.20
19    20  20230720024156            9          543             2   72.40
11    12  20230720024148            6          315             4   42.00
6      7  20230720024143            8          587             2   78.27
17    18  20230720024154            9          332             4   44.27
10    11  20230720024147            5          140             7   18.67
9     10  20230720024146           10          698             2   93.07
2      3  20230720024139            6          486             4   64.80
14    15  20230720024151            5          144             9   19.20
12    13  20230720024149            6          196             9   26.14
5      6  20230720024142            5          354             7   47.20
16    17  20230720024153            7          225             9   30.00
0      1  20230720024137           10          646             4   86.14
18    19  20230720024155            7          720             9   96.00
7      8  20230720024144           10          856             7  114.14

    P cắt  Start time 1  Finish time 1  Máy trải  Máy cắt  Start time 2
8    24.0          0.00          15.07         4        2         15.07  \
15   38.4          0.00          33.47         2        1         33.47
13   24.0          0.00          36.67         3        2         39.07
3    24.0          0.00          44.94         8        4         44.94
4    33.6          0.00          54.14         7        4         68.94
1    33.6         15.07          62.27         4        2         63.07
19   43.2          0.00          72.40         6        3         72.40
11   28.8         33.47          75.47         2        1         75.47
6    38.4          0.00          78.27         5        3        115.60
17   43.2         44.94          89.21         8        4        102.54
10   24.0         72.40          91.07         6        3        154.00
9    48.0          0.00          93.07         1        1        104.27
2    28.8         36.67         101.47         3        2        101.47
14   24.0         91.07         110.27         6        3        178.00
12   28.8         89.21         115.35         8        4        145.74
5    24.0         75.47         122.67         2        1        152.27
16   33.6         93.07         123.07         1        1        176.27
0    48.0         54.14         140.28         7        4        174.54
18   33.6         78.27         174.27         5        3        202.00
7    48.0         62.27         176.41         4        2        176.41

    Finish time 2  Độ trễ (phút)
8           39.07           0.00
15          71.87           0.00
13          63.07           0.00
3           68.94           0.00
4          102.54           0.00
1           96.67           0.00
19         115.60           0.00
11         104.27           0.00
6          154.00          34.00
17         145.74           0.00
10         178.00           0.00
9          152.27          32.27
2          130.27           0.00
14         202.00           0.00
12         174.54           0.00
5          176.27           0.00
16         209.87           0.00
0          222.54           0.00
18         235.60           0.00
7          224.41           0.00  ,     Jobs    Stockout Num  Total rolls  Total yards  Due date (h)  P trải
8      9  20230720024145            5          113             2   15.07  \
15    16  20230720024152            8          251             2   33.47
13    14  20230720024150            5          275             2   36.67
3      4  20230720024140            5          337             2   44.94
4      5  20230720024141            7          406             2   54.14
1      2  20230720024138            7          354             2   47.20
19    20  20230720024156            9          543             2   72.40
11    12  20230720024148            6          315             4   42.00
6      7  20230720024143            8          587             2   78.27
17    18  20230720024154            9          332             4   44.27
10    11  20230720024147            5          140             7   18.67
9     10  20230720024146           10          698             2   93.07
2      3  20230720024139            6          486             4   64.80
14    15  20230720024151            5          144             9   19.20
12    13  20230720024149            6          196             9   26.14
5      6  20230720024142            5          354             7   47.20
16    17  20230720024153            7          225             9   30.00
0      1  20230720024137           10          646             4   86.14
18    19  20230720024155            7          720             9   96.00
7      8  20230720024144           10          856             7  114.14

    P cắt  Start time 1  Finish time 1  Máy trải  Máy cắt  Start time 2
8    24.0          0.00          15.07         4        2         15.07  \
15   38.4          0.00          33.47         2        1         33.47
13   24.0          0.00          36.67         3        2         39.07
3    24.0          0.00          44.94         8        4         44.94
4    33.6          0.00          54.14         7        4         68.94
1    33.6         15.07          62.27         4        2         63.07
19   43.2          0.00          72.40         6        3         72.40
11   28.8         33.47          75.47         2        1         75.47
6    38.4          0.00          78.27         5        3        115.60
17   43.2         44.94          89.21         8        4        102.54
10   24.0         72.40          91.07         6        3        154.00
9    48.0          0.00          93.07         1        1        104.27
2    28.8         36.67         101.47         3        2        101.47
14   24.0         91.07         110.27         6        3        178.00
12   28.8         89.21         115.35         8        4        145.74
5    24.0         75.47         122.67         2        1        152.27
16   33.6         93.07         123.07         1        1        176.27
0    48.0         54.14         140.28         7        4        174.54
18   33.6         78.27         174.27         5        3        202.00
7    48.0         62.27         176.41         4        2        176.41

    Finish time 2  Độ trễ (phút)
8           39.07           0.00
15          71.87           0.00
13          63.07           0.00
3           68.94           0.00
4          102.54           0.00
1           96.67           0.00
19         115.60           0.00
11         104.27           0.00
6          154.00          34.00
17         145.74           0.00
10         178.00           0.00
9          152.27          32.27
2          130.27           0.00
14         202.00           0.00
12         174.54           0.00
5          176.27           0.00
16         209.87           0.00
0          222.54           0.00
18         235.60           0.00
7          224.41           0.00  ,     Jobs    Stockout Num  Total rolls  Total yards  Due date (h)  P trải
8      9  20230720024145            5          113             2   15.07  \
15    16  20230720024152            8          251             2   33.47
13    14  20230720024150            5          275             2   36.67
3      4  20230720024140            5          337             2   44.94
4      5  20230720024141            7          406             2   54.14
1      2  20230720024138            7          354             2   47.20
19    20  20230720024156            9          543             2   72.40
11    12  20230720024148            6          315             4   42.00
6      7  20230720024143            8          587             2   78.27
17    18  20230720024154            9          332             4   44.27
10    11  20230720024147            5          140             7   18.67
9     10  20230720024146           10          698             2   93.07
2      3  20230720024139            6          486             4   64.80
14    15  20230720024151            5          144             9   19.20
12    13  20230720024149            6          196             9   26.14
5      6  20230720024142            5          354             7   47.20
16    17  20230720024153            7          225             9   30.00
0      1  20230720024137           10          646             4   86.14
18    19  20230720024155            7          720             9   96.00
7      8  20230720024144           10          856             7  114.14

    P cắt  Start time 1  Finish time 1  Máy trải  Máy cắt  Start time 2
8    24.0          0.00          15.07         4        2         15.07  \
15   38.4          0.00          33.47         2        1         33.47
13   24.0          0.00          36.67         3        2         39.07
3    24.0          0.00          44.94         8        4         44.94
4    33.6          0.00          54.14         7        4         68.94
1    33.6         15.07          62.27         4        2         63.07
19   43.2          0.00          72.40         6        3         72.40
11   28.8         33.47          75.47         2        1         75.47
6    38.4          0.00          78.27         5        3        115.60
17   43.2         44.94          89.21         8        4        102.54
10   24.0         72.40          91.07         6        3        154.00
9    48.0          0.00          93.07         1        1        104.27
2    28.8         36.67         101.47         3        2        101.47
14   24.0         91.07         110.27         6        3        178.00
12   28.8         89.21         115.35         8        4        145.74
5    24.0         75.47         122.67         2        1        152.27
16   33.6         93.07         123.07         1        1        176.27
0    48.0         54.14         140.28         7        4        174.54
18   33.6         78.27         174.27         5        3        202.00
7    48.0         62.27         176.41         4        2        176.41

    Finish time 2  Độ trễ (phút)
8           39.07           0.00
15          71.87           0.00
13          63.07           0.00
3           68.94           0.00
4          102.54           0.00
1           96.67           0.00
19         115.60           0.00
11         104.27           0.00
6          154.00          34.00
17         145.74           0.00
10         178.00           0.00
9          152.27          32.27
2          130.27           0.00
14         202.00           0.00
12         174.54           0.00
5          176.27           0.00
16         209.87           0.00
0          222.54           0.00
18         235.60           0.00
7          224.41           0.00  ,     Jobs    Stockout Num  Total rolls  Total yards  Due date (h)  P trải
8      9  20230720024145            5          113             2   15.07  \
15    16  20230720024152            8          251             2   33.47
13    14  20230720024150            5          275             2   36.67
3      4  20230720024140            5          337             2   44.94
4      5  20230720024141            7          406             2   54.14
1      2  20230720024138            7          354             2   47.20
19    20  20230720024156            9          543             2   72.40
11    12  20230720024148            6          315             4   42.00
6      7  20230720024143            8          587             2   78.27
17    18  20230720024154            9          332             4   44.27
10    11  20230720024147            5          140             7   18.67
9     10  20230720024146           10          698             2   93.07
2      3  20230720024139            6          486             4   64.80
14    15  20230720024151            5          144             9   19.20
12    13  20230720024149            6          196             9   26.14
5      6  20230720024142            5          354             7   47.20
16    17  20230720024153            7          225             9   30.00
0      1  20230720024137           10          646             4   86.14
18    19  20230720024155            7          720             9   96.00
7      8  20230720024144           10          856             7  114.14

    P cắt  Start time 1  Finish time 1  Máy trải  Máy cắt  Start time 2
8    24.0          0.00          15.07         4        2         15.07  \
15   38.4          0.00          33.47         2        1         33.47
13   24.0          0.00          36.67         3        2         39.07
3    24.0          0.00          44.94         8        4         44.94
4    33.6          0.00          54.14         7        4         68.94
1    33.6         15.07          62.27         4        2         63.07
19   43.2          0.00          72.40         6        3         72.40
11   28.8         33.47          75.47         2        1         75.47
6    38.4          0.00          78.27         5        3        115.60
17   43.2         44.94          89.21         8        4        102.54
10   24.0         72.40          91.07         6        3        154.00
9    48.0          0.00          93.07         1        1        104.27
2    28.8         36.67         101.47         3        2        101.47
14   24.0         91.07         110.27         6        3        178.00
12   28.8         89.21         115.35         8        4        145.74
5    24.0         75.47         122.67         2        1        152.27
16   33.6         93.07         123.07         1        1        176.27
0    48.0         54.14         140.28         7        4        174.54
18   33.6         78.27         174.27         5        3        202.00
7    48.0         62.27         176.41         4        2        176.41

    Finish time 2  Độ trễ (phút)
8           39.07           0.00
15          71.87           0.00
13          63.07           0.00
3           68.94           0.00
4          102.54           0.00
1           96.67           0.00
19         115.60           0.00
11         104.27           0.00
6          154.00          34.00
17         145.74           0.00
10         178.00           0.00
9          152.27          32.27
2          130.27           0.00
14         202.00           0.00
12         174.54           0.00
5          176.27           0.00
16         209.87           0.00
0          222.54           0.00
18         235.60           0.00
7          224.41           0.00  ,     Jobs    Stockout Num  Total rolls  Total yards  Due date (h)  P trải
8      9  20230720024145            5          113             2   15.07  \
10    11  20230720024147            5          140             7   18.67
14    15  20230720024151            5          144             9   19.20
15    16  20230720024152            8          251             2   33.47
5      6  20230720024142            5          354             7   47.20
4      5  20230720024141            7          406             2   54.14
3      4  20230720024140            5          337             2   44.94
1      2  20230720024138            7          354             2   47.20
16    17  20230720024153            7          225             9   30.00
17    18  20230720024154            9          332             4   44.27
6      7  20230720024143            8          587             2   78.27
9     10  20230720024146           10          698             2   93.07
11    12  20230720024148            6          315             4   42.00
13    14  20230720024150            5          275             2   36.67
12    13  20230720024149            6          196             9   26.14
7      8  20230720024144           10          856             7  114.14

AttributeError: 'DataFrame' object has no attribute 'tolist'